
## Overview

This notebook will show you how to create and query a table or DataFrame that you uploaded to DBFS. [DBFS](https://docs.databricks.com/user-guide/dbfs-databricks-file-system.html) is a Databricks File System that allows you to store data for querying inside of Databricks. This notebook assumes that you have a file already inside of DBFS that you would like to read from.

This notebook is written in **Python** so the default cell type is Python. However, you can use different languages by using the `%LANGUAGE` syntax. Python, Scala, SQL, and R are all supported.

In [0]:
# File location and type
file_location = "/FileStore/tables/test.csv"
file_type = "csv"

# CSV options
infer_schema = "true"
first_row_is_header = "true"
delimiter = ","

# The applied options are for CSV files. For other file types, these will be ignored.
df = spark.read.format(file_type) \
  .option("inferSchema", infer_schema) \
  .option("header", first_row_is_header) \
  .option("sep", delimiter) \
  .load(file_location)

display(df)

Id,Name,Age
1,john,22
2,Stephen,22
3,Stacy,24
4,paul,23

In [0]:
# Create a view or table

temp_table_name = "test_csv"

df.createOrReplaceTempView(temp_table_name)

In [0]:
%sql

/* Query the created temp table in a SQL cell */

select * from `test_csv`

Id,Name,Age
1,john,22
2,Stephen,22
3,Stacy,24
4,paul,23

In [0]:
# With this registered as a temp view, it will only be available to this particular notebook. If you'd like other users to be able to query this table, you can also create a table from the DataFrame.
# Once saved, this table will persist across cluster restarts as well as allow various users across different notebooks to query this data.
# To do so, choose your table name and uncomment the bottom line.

permanent_table_name = "test_csv"

# df.write.format("parquet").saveAsTable(permanent_table_name)

In [0]:
%sql
select * from test_csv

Id,Name,Age
1,john,22
2,Stephen,22
3,Stacy,24
4,paul,23

In [0]:
df = df.withColumnRenamed('Id','StudentId').withColumnRenamed('Name','S.Name').withColumnRenamed('Age','S.age')

In [0]:
df.show()

+---+-------+-----+
|Id | S.Name|S.age|
+---+-------+-----+
|  1|   john|   22|
|  2|Stephen|   22|
|  3|  Stacy|   24|
|  4|   paul|   23|
+---+-------+-----+

In [0]:
df = df.selectExpr("'S.name' as StudentName", "'S.age' as StudentAge")
df.show()

+-----------+----------+
|StudentName|StudentAge|
+-----------+----------+
|     S.name|     S.age|
|     S.name|     S.age|
|     S.name|     S.age|
|     S.name|     S.age|
+-----------+----------+

In [0]:
df3 = df.select(col('Id').alias("NewId"))

---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
File <command-1496055762395160>:1
----> 1 df3 = df.select(col('Id').alias("NewId"))

NameError: name 'col' is not defined