In [0]:
data = [(1, 'maheer', 20000, 'M'), (2, 'mahesh', 24000, 'M'), (3, 'asi', 18000, 'F'), (2, 'mahesh', 24000, 'M')]
schema = ('id', 'name', 'salary', 'gender')

df = spark.createDataFrame(data, schema)

df.show()

+---+------+------+------+
| id|  name|salary|gender|
+---+------+------+------+
|  1|maheer| 20000|     M|
|  2|mahesh| 24000|     M|
|  3|   asi| 18000|     F|
|  2|mahesh| 24000|     M|
+---+------+------+------+

In [0]:
help(df.distinct)

Help on method distinct in module pyspark.sql.dataframe:

distinct() -> 'DataFrame' method of pyspark.sql.dataframe.DataFrame instance
    Returns a new :class:`DataFrame` containing the distinct rows in this :class:`DataFrame`.

    .. versionadded:: 1.3.0

    .. versionchanged:: 3.4.0
        Support Spark Connect.

    Returns
    -------
    :class:`DataFrame`
        DataFrame with distinct records.

    Examples
    --------
    >>> df = spark.createDataFrame(
    ...     [(14, "Tom"), (23, "Alice"), (23, "Alice")], ["age", "name"])

    Return the number of distinct rows in the :class:`DataFrame`

    >>> df.distinct().count()
    2

In [0]:
df.distinct().show()

+---+------+------+------+
| id|  name|salary|gender|
+---+------+------+------+
|  1|maheer| 20000|     M|
|  2|mahesh| 24000|     M|
|  3|   asi| 18000|     F|
+---+------+------+------+

In [0]:
df.show()

+---+------+------+------+
| id|  name|salary|gender|
+---+------+------+------+
|  1|maheer| 20000|     M|
|  2|mahesh| 24000|     M|
|  3|   asi| 18000|     F|
|  2|mahesh| 24000|     M|
+---+------+------+------+

In [0]:
df.dropDuplicates().show()

+---+------+------+------+
| id|  name|salary|gender|
+---+------+------+------+
|  1|maheer| 20000|     M|
|  2|mahesh| 24000|     M|
|  3|   asi| 18000|     F|
+---+------+------+------+

In [0]:
df.show()

+---+------+------+------+
| id|  name|salary|gender|
+---+------+------+------+
|  1|maheer| 20000|     M|
|  2|mahesh| 24000|     M|
|  3|   asi| 18000|     F|
|  2|mahesh| 24000|     M|
+---+------+------+------+

In [0]:
help(df.dropDuplicates)

Help on method dropDuplicates in module pyspark.sql.dataframe:

dropDuplicates(subset: Optional[List[str]] = None) -> 'DataFrame' method of pyspark.sql.dataframe.DataFrame instance
    Return a new :class:`DataFrame` with duplicate rows removed,
    optionally only considering certain columns.

    For a static batch :class:`DataFrame`, it just drops duplicate rows. For a streaming
    :class:`DataFrame`, it will keep all data across triggers as intermediate state to drop
    duplicates rows. You can use :func:`withWatermark` to limit how late the duplicate data can
    be and the system will accordingly limit the state. In addition, data older than
    watermark will be dropped to avoid any possibility of duplicates.

    :func:`drop_duplicates` is an alias for :func:`dropDuplicates`.

    .. versionadded:: 1.4.0

    .. versionchanged:: 3.4.0
        Support Spark Connect.

    Parameters
    ----------
    subset : List of column names, optional
        List of columns to use for duplicate comparison (default All columns).

    Returns
    -------
    :class:`DataFrame`
        DataFrame without duplicates.

    Examples
    --------
    >>> from pyspark.sql import Row
    >>> df = spark.createDataFrame([
    ...     Row(name='Alice', age=5, height=80),
    ...     Row(name='Alice', age=5, height=80),
    ...     Row(name='Alice', age=10, height=80)
    ... ])

    Deduplicate the same rows.

    >>> df.dropDuplicates().show()
    +-----+---+------+
    | name|age|height|
    +-----+---+------+
    |Alice|  5|    80|
    |Alice| 10|    80|
    +-----+---+------+

    Deduplicate values on 'name' and 'height' columns.

    >>> df.dropDuplicates(['name', 'height']).show()
    +-----+---+------+
    | name|age|height|
    +-----+---+------+
    |Alice|  5|    80|
    +-----+---+------+

In [0]:
df.dropDuplicates(['gender', 'salary']).show()

+---+------+------+------+
| id|  name|salary|gender|
+---+------+------+------+
|  3|   asi| 18000|     F|
|  1|maheer| 20000|     M|
|  2|mahesh| 24000|     M|
+---+------+------+------+

In [0]:
df.dropDuplicates(['gender']).show()

+---+------+------+------+
| id|  name|salary|gender|
+---+------+------+------+
|  3|   asi| 18000|     F|
|  1|maheer| 20000|     M|
+---+------+------+------+