In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('dataframe').getOrCreate()

In [5]:
df = spark.read.csv(r"C:\Users\pavan\OneDrive\Desktop\prep\datasets\test1.csv", header= True, inferSchema = True)

In [6]:
df.show()

+----+-------+----+
| Id |   Name| Age|
+----+-------+----+
|   1|   john|  22|
|   2|Stephen|  22|
|   3|  Stacy|  24|
|   4|   paul|  23|
|   5|   NULL|  32|
|   6|    Joe|NULL|
|NULL|   NULL|  45|
|   8|   jack|NULL|
+----+-------+----+

In [7]:
##Condition
#names of people less than age 25

df.filter("Age<25").show()

+---+-------+---+
|Id |   Name|Age|
+---+-------+---+
|  1|   john| 22|
|  2|Stephen| 22|
|  3|  Stacy| 24|
|  4|   paul| 23|
+---+-------+---+

In [10]:
# displaying only specified columns after filtering

df.filter(df['Age'] < 25).select(['Name','Age']).show()

+-------+---+
|   Name|Age|
+-------+---+
|   john| 22|
|Stephen| 22|
|  Stacy| 24|
|   paul| 23|
+-------+---+

In [12]:
#multiple conditions using and
df.filter((df['Age'] > 20) & (df['Age'] < 35)).show()

+---+-------+---+
|Id |   Name|Age|
+---+-------+---+
|  1|   john| 22|
|  2|Stephen| 22|
|  3|  Stacy| 24|
|  4|   paul| 23|
|  5|   NULL| 32|
+---+-------+---+

In [13]:
#multiple conditions using or
df.filter((df['Age'] < 20) | (df['Age'] > 35)).show()

+----+----+---+
| Id |Name|Age|
+----+----+---+
|NULL|NULL| 45|
+----+----+---+

In [14]:
#not operation
df.filter(~(df['Age'] < 20) | (df['Age'] > 35)).show()

+----+-------+---+
| Id |   Name|Age|
+----+-------+---+
|   1|   john| 22|
|   2|Stephen| 22|
|   3|  Stacy| 24|
|   4|   paul| 23|
|   5|   NULL| 32|
|NULL|   NULL| 45|
+----+-------+---+