In [1]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Aggregate').getOrCreate()

In [4]:
spark

In [11]:
df = spark.read.csv(r"C:\Users\pavan\OneDrive\Desktop\prep\datasets\test2.csv", header = True, inferSchema= True)

In [12]:
df.show()

+-------+------------+------+
|   Name|  Department|Salary|
+-------+------------+------+
|   john|Data Science| 10000|
|Stephen|         IOT|  5000|
|  Stacy|     Bigdata|  4000|
|   paul|     Bigdata|  3000|
|  Krish|Data Science| 20000|
|    Joe|Data Science| 10000|
|Stephen|         IOT|  5000|
|   jack|     Bigdata| 10000|
|  Krish|Data Science|  8000|
+-------+------------+------+

In [13]:
#group by  

df.groupBy('Name').sum()

#since department is of string type, sum cant be performed on it. hence its done on Salary

DataFrame[Name: string, sum(Salary): bigint]

In [14]:
#grouped to find max salary

df.groupBy('Name').sum().show()

+-------+-----------+
|   Name|sum(Salary)|
+-------+-----------+
|    Joe|      10000|
|  Stacy|       4000|
|   jack|      10000|
|   paul|       3000|
|  Krish|      28000|
|   john|      10000|
|Stephen|      10000|
+-------+-----------+

In [15]:
#group by department to get max salary

df.groupBy('Department').sum()

DataFrame[Department: string, sum(Salary): bigint]

In [16]:
df.groupBy('Department').sum().show()

+------------+-----------+
|  Department|sum(Salary)|
+------------+-----------+
|         IOT|      10000|
|     Bigdata|      17000|
|Data Science|      48000|
+------------+-----------+

In [17]:
df.groupBy('Department').mean().show()

+------------+-----------------+
|  Department|      avg(Salary)|
+------------+-----------------+
|         IOT|           5000.0|
|     Bigdata|5666.666666666667|
|Data Science|          12000.0|
+------------+-----------------+

In [19]:
# number of ppl working oin each department

df.groupBy('Department').count().show()

+------------+-----+
|  Department|count|
+------------+-----+
|         IOT|    2|
|     Bigdata|    3|
|Data Science|    4|
+------------+-----+

In [20]:
df.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      75000|
+-----------+

In [24]:
df.agg({'Salary':'max'}).show()

+-----------+
|max(Salary)|
+-----------+
|      20000|
+-----------+

In [25]:
df.groupBy('Name').max().show()

+-------+-----------+
|   Name|max(Salary)|
+-------+-----------+
|    Joe|      10000|
|  Stacy|       4000|
|   jack|      10000|
|   paul|       3000|
|  Krish|      20000|
|   john|      10000|
|Stephen|       5000|
+-------+-----------+