In [0]:
data = [(1, 'Maheer', 'M', 5000, 'IT'),\
        (2, 'Ayesha', 'F', 5000, 'HR'),\
        (1, 'Mahesh', 'M', 5000, 'CS'),\
        (1, 'Govind', 'M', 5000, 'HR'),\
        (1, 'Rita', 'F', 5000, 'CS'),\
        (1, 'Asi', 'M', 5000, 'CS')]

schema = ('Id','Name', 'Gender', 'Salary', 'Dept')

df = spark.createDataFrame(data, schema)
df.show()

+---+------+------+------+----+
| Id|  Name|Gender|Salary|Dept|
+---+------+------+------+----+
|  1|Maheer|     M|  5000|  IT|
|  2|Ayesha|     F|  5000|  HR|
|  1|Mahesh|     M|  5000|  CS|
|  1|Govind|     M|  5000|  HR|
|  1|  Rita|     F|  5000|  CS|
|  1|   Asi|     M|  5000|  CS|
+---+------+------+------+----+

In [0]:
df.groupBy('Dept').count().show()

+----+-----+
|Dept|count|
+----+-----+
|  IT|    1|
|  HR|    2|
|  CS|    3|
+----+-----+

In [0]:
type(df.groupBy('Dept'))

Out[6]: pyspark.sql.group.GroupedData

In [0]:
df.groupBy(df.Dept).min('Salary').show()

+----+-----------+
|Dept|min(Salary)|
+----+-----------+
|  IT|       5000|
|  HR|       5000|
|  CS|       5000|
+----+-----------+

In [0]:
df.groupBy(df.Dept).min().show()
#since column name is not provided, it performs min operation on all integer columns

+----+-------+-----------+
|Dept|min(Id)|min(Salary)|
+----+-------+-----------+
|  IT|      1|       5000|
|  HR|      1|       5000|
|  CS|      1|       5000|
+----+-------+-----------+

In [0]:
df.groupBy('Dept', 'Gender').count().show()

+----+------+-----+
|Dept|Gender|count|
+----+------+-----+
|  IT|     M|    1|
|  HR|     F|    1|
|  CS|     M|    2|
|  HR|     M|    1|
|  CS|     F|    1|
+----+------+-----+

In [0]:
help(df.groupBy('dept').agg)

Help on method agg in module pyspark.sql.group:

agg(*exprs: Union[pyspark.sql.column.Column, Dict[str, str]]) -> pyspark.sql.dataframe.DataFrame method of pyspark.sql.group.GroupedData instance
    Compute aggregates and returns the result as a :class:`DataFrame`.

    The available aggregate functions can be:

    1. built-in aggregation functions, such as `avg`, `max`, `min`, `sum`, `count`

    2. group aggregate pandas UDFs, created with :func:`pyspark.sql.functions.pandas_udf`

       .. note:: There is no partial aggregation with group aggregate UDFs, i.e.,
           a full shuffle is required. Also, all the data of a group will be loaded into
           memory, so the user should be aware of the potential OOM risk if data is skewed
           and certain groups are too large to fit in memory.

       .. seealso:: :func:`pyspark.sql.functions.pandas_udf`

    If ``exprs`` is a single :class:`dict` mapping from string to string, then the key
    is the column to perform aggregation on, and the value is the aggregate function.

    Alternatively, ``exprs`` can also be a list of aggregate :class:`Column` expressions.

    .. versionadded:: 1.3.0

    .. versionchanged:: 3.4.0
        Support Spark Connect.

    Parameters
    ----------
    exprs : dict
        a dict mapping from column name (string) to aggregate functions (string),
        or a list of :class:`Column`.

    Notes
    -----
    Built-in aggregation functions and group aggregate pandas UDFs cannot be mixed
    in a single call to this function.

    Examples
    --------
    >>> from pyspark.sql import functions as F
    >>> from pyspark.sql.functions import pandas_udf, PandasUDFType
    >>> df = spark.createDataFrame(
    ...      [(2, "Alice"), (3, "Alice"), (5, "Bob"), (10, "Bob")], ["age", "name"])
    >>> df.show()
    +---+-----+
    |age| name|
    +---+-----+
    |  2|Alice|
    |  3|Alice|
    |  5|  Bob|
    | 10|  Bob|
    +---+-----+

    Group-by name, and count each group.

    >>> df.groupBy(df.name).agg({"*": "count"}).sort("name").show()  # doctest: +SKIP
    +-----+--------+
    | name|count(1)|
    +-----+--------+
    |Alice|       2|
    |  Bob|       2|
    +-----+--------+

    Group-by name, and calculate the minimum age.

    >>> df.groupBy(df.name).agg(F.min(df.age)).sort("name").show()
    +-----+--------+
    | name|min(age)|
    +-----+--------+
    |Alice|       2|
    |  Bob|       5|
    +-----+--------+

    Same as above but uses pandas UDF.

    >>> @pandas_udf('int', PandasUDFType.GROUPED_AGG)  # doctest: +SKIP
    ... def min_udf(v):
    ...     return v.min()
    ...
    >>> df.groupBy(df.name).agg(min_udf(df.age)).sort("name").show()  # doctest: +SKIP
    +-----+------------+
    | name|min_udf(age)|
    +-----+------------+
    |Alice|           2|
    |  Bob|           5|
    +-----+------------+

In [0]:
# We can apply multiple aggregation functions at a time using agg()

from pyspark.sql.functions import count, min, max

help(count)

Help on function count in module pyspark.sql.functions:

count(col: 'ColumnOrName') -> pyspark.sql.column.Column
    Aggregate function: returns the number of items in a group.

    .. versionadded:: 1.3.0

    .. versionchanged:: 3.4.0
        Support Spark Connect.

    Parameters
    ----------
    col : :class:`~pyspark.sql.Column` or str
        target column to compute on.

    Returns
    -------
    :class:`~pyspark.sql.Column`
        column for computed results.

    Examples
    --------
    Count by all columns (start), and by a column that does not count ``None``.

    >>> df = spark.createDataFrame([(None,), ("a",), ("b",), ("c",)], schema=["alphabets"])
    >>> df.select(count(expr("*")), count(df.alphabets)).show()
    +--------+----------------+
    |count(1)|count(alphabets)|
    +--------+----------------+
    |       4|               3|
    +--------+----------------+

In [0]:
df.groupBy('Dept').agg(count('*').alias('count of employees'),\
                        min('Salary').alias('Min of Salary'),\
                        max('Salary').alias('Max of Salary')).show()

+----+------------------+-------------+-------------+
|Dept|count of employees|Min of Salary|Max of Salary|
+----+------------------+-------------+-------------+
|  IT|                 1|         5000|         5000|
|  HR|                 2|         5000|         5000|
|  CS|                 3|         5000|         5000|
+----+------------------+-------------+-------------+