In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('dataframe').getOrCreate()

In [3]:
spark

In [4]:
df = spark.read.csv(r"C:\Users\pavan\OneDrive\Desktop\prep\datasets\titanic\train.csv",header = True, inferSchema = True)

In [5]:
df.head(3)

[Row(PassengerId=1, Survived=0, Pclass=3, Name='Braund, Mr. Owen Harris', Sex='male', Age=22.0, SibSp=1, Parch=0, Ticket='A/5 21171', Fare=7.25, Cabin=None, Embarked='S'),
 Row(PassengerId=2, Survived=1, Pclass=1, Name='Cumings, Mrs. John Bradley (Florence Briggs Thayer)', Sex='female', Age=38.0, SibSp=1, Parch=0, Ticket='PC 17599', Fare=71.2833, Cabin='C85', Embarked='C'),
 Row(PassengerId=3, Survived=1, Pclass=3, Name='Heikkinen, Miss. Laina', Sex='female', Age=26.0, SibSp=0, Parch=0, Ticket='STON/O2. 3101282', Fare=7.925, Cabin=None, Embarked='S')]

In [6]:
df.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| NULL|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| NULL|       S|
|          6|       0|     3|    Moran, Mr. James|  male|NULL|    0|    0|          330877| 8.4583| NULL|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| NULL|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| NULL|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| NULL|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| NULL|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| NULL|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| NULL|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| NULL|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| NULL|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|NULL|    0|    0|          244373|   13.0| NULL|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| NULL|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|NULL|    0|    0|            2649|  7.225| NULL|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [7]:
df.dtypes

[('PassengerId', 'int'),
 ('Survived', 'int'),
 ('Pclass', 'int'),
 ('Name', 'string'),
 ('Sex', 'string'),
 ('Age', 'double'),
 ('SibSp', 'int'),
 ('Parch', 'int'),
 ('Ticket', 'string'),
 ('Fare', 'double'),
 ('Cabin', 'string'),
 ('Embarked', 'string')]

In [8]:
df.printSchema()

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

In [9]:
df.describe

<bound method DataFrame.describe of DataFrame[PassengerId: int, Survived: int, Pclass: int, Name: string, Sex: string, Age: double, SibSp: int, Parch: int, Ticket: string, Fare: double, Cabin: string, Embarked: string]>

In [10]:
df1 = spark.read.option('header','true').csv(r"C:\Users\pavan\OneDrive\Desktop\prep\datasets\titanic\train.csv")

In [11]:
df1.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|  22|    1|    0|       A/5 21171|   7.25| NULL|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|  38|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|  26|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|  35|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|  35|    0|    0|          373450|   8.05| NULL|       S|
|          6|       0|     3|    Moran, Mr. James|  male|NULL|    0|    0|          330877| 8.4583| NULL|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|  54|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male|   2|    3|    1|          349909| 21.075| NULL|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|  27|    0|    2|          347742|11.1333| NULL|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|  14|    1|    0|          237736|30.0708| NULL|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female|   4|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|  58|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|  20|    0|    0|       A/5. 2151|   8.05| NULL|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|  39|    1|    5|          347082| 31.275| NULL|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|  14|    0|    0|          350406| 7.8542| NULL|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|  55|    0|    0|          248706|     16| NULL|       S|
|         17|       0|     3|Rice, Master. Eugene|  male|   2|    4|    1|          382652| 29.125| NULL|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|NULL|    0|    0|          244373|     13| NULL|       S|
|         19|       0|     3|Vander Planke, Mr...|female|  31|    1|    0|          345763|     18| NULL|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|NULL|    0|    0|            2649|  7.225| NULL|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [12]:
df1.dtypes

[('PassengerId', 'string'),
 ('Survived', 'string'),
 ('Pclass', 'string'),
 ('Name', 'string'),
 ('Sex', 'string'),
 ('Age', 'string'),
 ('SibSp', 'string'),
 ('Parch', 'string'),
 ('Ticket', 'string'),
 ('Fare', 'string'),
 ('Cabin', 'string'),
 ('Embarked', 'string')]

In [13]:
df1.printSchema()

root
 |-- PassengerId: string (nullable = true)
 |-- Survived: string (nullable = true)
 |-- Pclass: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- SibSp: string (nullable = true)
 |-- Parch: string (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: string (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

In [14]:
type(df1)

pyspark.sql.dataframe.DataFrame

In [15]:
df1.columns

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

In [16]:
df.select('Name').show()

+--------------------+
|                Name|
+--------------------+
|Braund, Mr. Owen ...|
|Cumings, Mrs. Joh...|
|Heikkinen, Miss. ...|
|Futrelle, Mrs. Ja...|
|Allen, Mr. Willia...|
|    Moran, Mr. James|
|McCarthy, Mr. Tim...|
|Palsson, Master. ...|
|Johnson, Mrs. Osc...|
|Nasser, Mrs. Nich...|
|Sandstrom, Miss. ...|
|Bonnell, Miss. El...|
|Saundercock, Mr. ...|
|Andersson, Mr. An...|
|Vestrom, Miss. Hu...|
|Hewlett, Mrs. (Ma...|
|Rice, Master. Eugene|
|Williams, Mr. Cha...|
|Vander Planke, Mr...|
|Masselmani, Mrs. ...|
+--------------------+
only showing top 20 rows

In [17]:
df.select(['Name','Age']).show()

+--------------------+----+
|                Name| Age|
+--------------------+----+
|Braund, Mr. Owen ...|22.0|
|Cumings, Mrs. Joh...|38.0|
|Heikkinen, Miss. ...|26.0|
|Futrelle, Mrs. Ja...|35.0|
|Allen, Mr. Willia...|35.0|
|    Moran, Mr. James|NULL|
|McCarthy, Mr. Tim...|54.0|
|Palsson, Master. ...| 2.0|
|Johnson, Mrs. Osc...|27.0|
|Nasser, Mrs. Nich...|14.0|
|Sandstrom, Miss. ...| 4.0|
|Bonnell, Miss. El...|58.0|
|Saundercock, Mr. ...|20.0|
|Andersson, Mr. An...|39.0|
|Vestrom, Miss. Hu...|14.0|
|Hewlett, Mrs. (Ma...|55.0|
|Rice, Master. Eugene| 2.0|
|Williams, Mr. Cha...|NULL|
|Vander Planke, Mr...|31.0|
|Masselmani, Mrs. ...|NULL|
+--------------------+----+
only showing top 20 rows

In [18]:
df.describe()

DataFrame[summary: string, PassengerId: string, Survived: string, Pclass: string, Name: string, Sex: string, Age: string, SibSp: string, Parch: string, Ticket: string, Fare: string, Cabin: string, Embarked: string]

In [19]:
df.describe().show()

+-------+-----------------+-------------------+------------------+--------------------+------+------------------+------------------+-------------------+------------------+-----------------+-----+--------+
|summary|      PassengerId|           Survived|            Pclass|                Name|   Sex|               Age|             SibSp|              Parch|            Ticket|             Fare|Cabin|Embarked|
+-------+-----------------+-------------------+------------------+--------------------+------+------------------+------------------+-------------------+------------------+-----------------+-----+--------+
|  count|              891|                891|               891|                 891|   891|               714|               891|                891|               891|              891|  204|     889|
|   mean|            446.0| 0.3838383838383838| 2.308641975308642|                NULL|  NULL| 29.69911764705882|0.5230078563411896|0.38159371492704824|260318.54916792738| 32.2042079685746| NULL|    NULL|
| stddev|257.3538420152301|0.48659245426485753|0.8360712409770491|                NULL|  NULL|14.526497332334035|1.1027434322934315| 0.8060572211299488|471609.26868834975|49.69342859718089| NULL|    NULL|
|    min|                1|                  0|                 1|"Andersson, Mr. A...|female|              0.42|                 0|                  0|            110152|              0.0|  A10|       C|
|    max|              891|                  1|                 3|van Melkebeke, Mr...|  male|              80.0|                 8|                  6|         WE/P 5735|         512.3292|    T|       S|
+-------+-----------------+-------------------+------------------+--------------------+------+------------------+------------------+-------------------+------------------+-----------------+-----+--------+

In [20]:
df.drop('PassengerId').dtypes

[('Survived', 'int'),
 ('Pclass', 'int'),
 ('Name', 'string'),
 ('Sex', 'string'),
 ('Age', 'double'),
 ('SibSp', 'int'),
 ('Parch', 'int'),
 ('Ticket', 'string'),
 ('Fare', 'double'),
 ('Cabin', 'string'),
 ('Embarked', 'string')]

In [21]:
df = df.select(['Age','Pclass','Ticket','Survived'])

In [22]:
df.show()

+----+------+----------------+--------+
| Age|Pclass|          Ticket|Survived|
+----+------+----------------+--------+
|22.0|     3|       A/5 21171|       0|
|38.0|     1|        PC 17599|       1|
|26.0|     3|STON/O2. 3101282|       1|
|35.0|     1|          113803|       1|
|35.0|     3|          373450|       0|
|NULL|     3|          330877|       0|
|54.0|     1|           17463|       0|
| 2.0|     3|          349909|       0|
|27.0|     3|          347742|       1|
|14.0|     2|          237736|       1|
| 4.0|     3|         PP 9549|       1|
|58.0|     1|          113783|       1|
|20.0|     3|       A/5. 2151|       0|
|39.0|     3|          347082|       0|
|14.0|     3|          350406|       0|
|55.0|     2|          248706|       1|
| 2.0|     3|          382652|       0|
|NULL|     2|          244373|       1|
|31.0|     3|          345763|       0|
|NULL|     3|            2649|       1|
+----+------+----------------+--------+
only showing top 20 rows

In [23]:
df = df.withColumn('Age after 2 years', df['Age'] + 2)

In [24]:
df.show()

+----+------+----------------+--------+-----------------+
| Age|Pclass|          Ticket|Survived|Age after 2 years|
+----+------+----------------+--------+-----------------+
|22.0|     3|       A/5 21171|       0|             24.0|
|38.0|     1|        PC 17599|       1|             40.0|
|26.0|     3|STON/O2. 3101282|       1|             28.0|
|35.0|     1|          113803|       1|             37.0|
|35.0|     3|          373450|       0|             37.0|
|NULL|     3|          330877|       0|             NULL|
|54.0|     1|           17463|       0|             56.0|
| 2.0|     3|          349909|       0|              4.0|
|27.0|     3|          347742|       1|             29.0|
|14.0|     2|          237736|       1|             16.0|
| 4.0|     3|         PP 9549|       1|              6.0|
|58.0|     1|          113783|       1|             60.0|
|20.0|     3|       A/5. 2151|       0|             22.0|
|39.0|     3|          347082|       0|             41.0|
|14.0|     3|          350406|       0|             16.0|
|55.0|     2|          248706|       1|             57.0|
| 2.0|     3|          382652|       0|              4.0|
|NULL|     2|          244373|       1|             NULL|
|31.0|     3|          345763|       0|             33.0|
|NULL|     3|            2649|       1|             NULL|
+----+------+----------------+--------+-----------------+
only showing top 20 rows

In [25]:
df = df.drop('Age')

In [26]:
df.show()

+------+----------------+--------+-----------------+
|Pclass|          Ticket|Survived|Age after 2 years|
+------+----------------+--------+-----------------+
|     3|       A/5 21171|       0|             24.0|
|     1|        PC 17599|       1|             40.0|
|     3|STON/O2. 3101282|       1|             28.0|
|     1|          113803|       1|             37.0|
|     3|          373450|       0|             37.0|
|     3|          330877|       0|             NULL|
|     1|           17463|       0|             56.0|
|     3|          349909|       0|              4.0|
|     3|          347742|       1|             29.0|
|     2|          237736|       1|             16.0|
|     3|         PP 9549|       1|              6.0|
|     1|          113783|       1|             60.0|
|     3|       A/5. 2151|       0|             22.0|
|     3|          347082|       0|             41.0|
|     3|          350406|       0|             16.0|
|     2|          248706|       1|             57.0|
|     3|          382652|       0|              4.0|
|     2|          244373|       1|             NULL|
|     3|          345763|       0|             33.0|
|     3|            2649|       1|             NULL|
+------+----------------+--------+-----------------+
only showing top 20 rows

In [27]:
df = df.withColumnRenamed('Age after 2 years','Age')

In [28]:
df.show(5)

+------+----------------+--------+----+
|Pclass|          Ticket|Survived| Age|
+------+----------------+--------+----+
|     3|       A/5 21171|       0|24.0|
|     1|        PC 17599|       1|40.0|
|     3|STON/O2. 3101282|       1|28.0|
|     1|          113803|       1|37.0|
|     3|          373450|       0|37.0|
+------+----------------+--------+----+
only showing top 5 rows

In [29]:
df.na.drop().show()

+------+----------------+--------+----+
|Pclass|          Ticket|Survived| Age|
+------+----------------+--------+----+
|     3|       A/5 21171|       0|24.0|
|     1|        PC 17599|       1|40.0|
|     3|STON/O2. 3101282|       1|28.0|
|     1|          113803|       1|37.0|
|     3|          373450|       0|37.0|
|     1|           17463|       0|56.0|
|     3|          349909|       0| 4.0|
|     3|          347742|       1|29.0|
|     2|          237736|       1|16.0|
|     3|         PP 9549|       1| 6.0|
|     1|          113783|       1|60.0|
|     3|       A/5. 2151|       0|22.0|
|     3|          347082|       0|41.0|
|     3|          350406|       0|16.0|
|     2|          248706|       1|57.0|
|     3|          382652|       0| 4.0|
|     3|          345763|       0|33.0|
|     2|          239865|       0|37.0|
|     2|          248698|       1|36.0|
|     3|          330923|       1|17.0|
+------+----------------+--------+----+
only showing top 20 rows

In [30]:
df.show()

+------+----------------+--------+----+
|Pclass|          Ticket|Survived| Age|
+------+----------------+--------+----+
|     3|       A/5 21171|       0|24.0|
|     1|        PC 17599|       1|40.0|
|     3|STON/O2. 3101282|       1|28.0|
|     1|          113803|       1|37.0|
|     3|          373450|       0|37.0|
|     3|          330877|       0|NULL|
|     1|           17463|       0|56.0|
|     3|          349909|       0| 4.0|
|     3|          347742|       1|29.0|
|     2|          237736|       1|16.0|
|     3|         PP 9549|       1| 6.0|
|     1|          113783|       1|60.0|
|     3|       A/5. 2151|       0|22.0|
|     3|          347082|       0|41.0|
|     3|          350406|       0|16.0|
|     2|          248706|       1|57.0|
|     3|          382652|       0| 4.0|
|     2|          244373|       1|NULL|
|     3|          345763|       0|33.0|
|     3|            2649|       1|NULL|
+------+----------------+--------+----+
only showing top 20 rows

In [31]:
df.na.drop(how='any',thresh = 1, subset=['Pclass','Ticket','Survived','Age']).show()

+------+----------------+--------+----+
|Pclass|          Ticket|Survived| Age|
+------+----------------+--------+----+
|     3|       A/5 21171|       0|24.0|
|     1|        PC 17599|       1|40.0|
|     3|STON/O2. 3101282|       1|28.0|
|     1|          113803|       1|37.0|
|     3|          373450|       0|37.0|
|     3|          330877|       0|NULL|
|     1|           17463|       0|56.0|
|     3|          349909|       0| 4.0|
|     3|          347742|       1|29.0|
|     2|          237736|       1|16.0|
|     3|         PP 9549|       1| 6.0|
|     1|          113783|       1|60.0|
|     3|       A/5. 2151|       0|22.0|
|     3|          347082|       0|41.0|
|     3|          350406|       0|16.0|
|     2|          248706|       1|57.0|
|     3|          382652|       0| 4.0|
|     2|          244373|       1|NULL|
|     3|          345763|       0|33.0|
|     3|            2649|       1|NULL|
+------+----------------+--------+----+
only showing top 20 rows

In [32]:
#check nulls in Pclass
df.filter(df['Pclass'].isNull()).show()

+------+------+--------+---+
|Pclass|Ticket|Survived|Age|
+------+------+--------+---+
+------+------+--------+---+

In [33]:
df.filter(df['Ticket'].isNull()).show()
df.filter(df['Survived'].isNull()).show()
df.filter(df['Age'].isNull()).show()

+------+------+--------+---+
|Pclass|Ticket|Survived|Age|
+------+------+--------+---+
+------+------+--------+---+

+------+------+--------+---+
|Pclass|Ticket|Survived|Age|
+------+------+--------+---+
+------+------+--------+---+

+------+---------------+--------+----+
|Pclass|         Ticket|Survived| Age|
+------+---------------+--------+----+
|     3|         330877|       0|NULL|
|     2|         244373|       1|NULL|
|     3|           2649|       1|NULL|
|     3|           2631|       0|NULL|
|     3|         330959|       1|NULL|
|     3|         349216|       0|NULL|
|     1|       PC 17569|       1|NULL|
|     3|         335677|       1|NULL|
|     3|           2677|       1|NULL|
|     3|         349253|       0|NULL|
|     3|S.C./A.4. 23567|       0|NULL|
|     3|         370371|       0|NULL|
|     3|          14311|       1|NULL|
|     3|           2662|       0|NULL|
|     1|          19947|       1|NULL|
|     1|       PC 17605|       0|NULL|
|     3|           2661|       1|NULL|
|     3|         349208|       0|NULL|
|     3|         374746|       0|NULL|
|     3|         330932|       1|NULL|
+------+---------------+--------+----+
only showing top 20 rows

In [34]:
df.filter((df['Age']> 25) & (df['Survived'] == 1)).show()

+------+----------------+--------+----+
|Pclass|          Ticket|Survived| Age|
+------+----------------+--------+----+
|     1|        PC 17599|       1|40.0|
|     3|STON/O2. 3101282|       1|28.0|
|     1|          113803|       1|37.0|
|     3|          347742|       1|29.0|
|     1|          113783|       1|60.0|
|     2|          248706|       1|57.0|
|     2|          248698|       1|36.0|
|     1|          113788|       1|30.0|
|     3|          347077|       1|40.0|
|     1|        PC 17572|       1|51.0|
|     2|            2926|       1|31.0|
|     1|          113572|       1|40.0|
|     2|      C.A. 29395|       1|31.0|
|     3|            1601|       1|34.0|
|     3|          364516|       1|32.0|
|     3|          345779|       1|31.0|
|     3|         3101278|       1|35.0|
|     2|          231919|       1|36.0|
|     2|           27267|       1|34.5|
|     3|         C 17369|       1|26.0|
+------+----------------+--------+----+
only showing top 20 rows

In [35]:
df.filter(~(df['Age']> 25) & (df['Survived'] == 1)).show()

+------+-------------+--------+----+
|Pclass|       Ticket|Survived| Age|
+------+-------------+--------+----+
|     2|       237736|       1|16.0|
|     3|      PP 9549|       1| 6.0|
|     3|       330923|       1|17.0|
|     3|         2651|       1|16.0|
|     2|SC/Paris 2123|       1| 5.0|
|     3|       330958|       1|21.0|
|     2|   C.A. 31026|       1|23.0|
|     2|   C.A. 34651|       1| 7.0|
|     3|      3101281|       1|19.0|
|     2|       248738|       1|2.83|
|     2|   SO/C 14885|       1|19.0|
|     1|        19950|       1|25.0|
|     1|     PC 17759|       1|25.0|
|     3|       343120|       1|23.0|
|     3|         2651|       1|14.0|
|     1|        11752|       1|21.0|
|     3|       347081|       1|24.0|
|     1|       113776|       1|24.0|
|     3|        35851|       1|18.0|
|     3|       363291|       1|11.0|
+------+-------------+--------+----+
only showing top 20 rows

In [36]:
df.groupBy('Age').count().filter(df['Age']==24).show()

+----+-----+
| Age|count|
+----+-----+
|24.0|   27|
+----+-----+

In [37]:
df.filter(df['Age']==24).groupBy('Age').count().show()

+----+-----+
| Age|count|
+----+-----+
|24.0|   27|
+----+-----+

In [38]:
df.groupBy(['Age', 'Survived']).count().show()

+----+--------+-----+
| Age|Survived|count|
+----+--------+-----+
|34.0|       0|    9|
|48.0|       0|    3|
|82.0|       1|    1|
|51.0|       1|    4|
|72.5|       0|    1|
|40.0|       1|    5|
|61.0|       0|    2|
|2.75|       1|    2|
|19.0|       1|    6|
|33.0|       1|    8|
|43.0|       0|    4|
|17.0|       1|    4|
|22.5|       0|    1|
|57.0|       0|    1|
|49.0|       0|    8|
|44.0|       1|    6|
|50.0|       0|    3|
|37.0|       0|    7|
|68.0|       0|    1|
|65.0|       1|    2|
+----+--------+-----+
only showing top 20 rows

In [39]:
df.filter(df['Age'] == 24).show()

+------+-----------------+--------+----+
|Pclass|           Ticket|Survived| Age|
+------+-----------------+--------+----+
|     3|        A/5 21171|       0|24.0|
|     3|             2669|       0|24.0|
|     3|           345767|       0|24.0|
|     3|           324669|       0|24.0|
|     3|           347081|       1|24.0|
|     1|           113776|       1|24.0|
|     3|        A/5 21174|       0|24.0|
|     3|          PP 4348|       0|24.0|
|     3|STON/O 2. 3101275|       0|24.0|
|     3|           349206|       0|24.0|
|     3|           370373|       1|24.0|
|     3|        A/5 21172|       0|24.0|
|     2|           248738|       1|24.0|
|     1|           113505|       1|24.0|
|     1|         PC 17760|       0|24.0|
|     3|           C 7077|       1|24.0|
|     3|           350052|       0|24.0|
|     3|             7553|       0|24.0|
|     3|           350060|       0|24.0|
|     3|           349252|       0|24.0|
+------+-----------------+--------+----+
only showing top 20 rows

In [40]:
df.agg({'Age': 'mean'}).show()

+-----------------+
|         avg(Age)|
+-----------------+
|31.69911764705882|
+-----------------+

In [41]:
df.groupBy('Age').agg({'Survived': 'count'}).show()

+----+---------------+
| Age|count(Survived)|
+----+---------------+
|47.5|              2|
|67.0|              3|
| 8.0|              3|
| 7.0|              4|
|38.5|              1|
|49.0|              9|
|29.0|             18|
|64.0|              4|
|47.0|             12|
|42.0|             13|
|44.0|             13|
|NULL|            177|
|35.0|             15|
|62.0|              4|
|18.0|             17|
|16.5|              1|
|34.5|              2|
|39.0|              6|
|72.5|              1|
|37.0|             18|
+----+---------------+
only showing top 20 rows

In [42]:
df.agg({'Age':'median'}).show()

+-----------+
|median(Age)|
+-----------+
|       30.0|
+-----------+

In [43]:
df.agg({'Age':'mode'}).show()

+---------+
|mode(Age)|
+---------+
|     26.0|
+---------+

In [44]:
df = df.na.fill(df.agg({'Age': 'mode'}).collect()[0][0],'Age')

In [45]:
df.filter(df['Age'].isNull()).groupBy('Age').count().show()

+---+-----+
|Age|count|
+---+-----+
+---+-----+

In [46]:
from pyspark.ml.feature import VectorAssembler

In [47]:
featureassembler = VectorAssembler(inputCols = ['Age', 'Pclass'], outputCol="Independent Feature")

In [48]:
df.show(3)

+------+----------------+--------+----+
|Pclass|          Ticket|Survived| Age|
+------+----------------+--------+----+
|     3|       A/5 21171|       0|24.0|
|     1|        PC 17599|       1|40.0|
|     3|STON/O2. 3101282|       1|28.0|
+------+----------------+--------+----+
only showing top 3 rows

In [49]:
output = featureassembler.transform(df)

In [50]:
output.show()

+------+----------------+--------+----+-------------------+
|Pclass|          Ticket|Survived| Age|Independent Feature|
+------+----------------+--------+----+-------------------+
|     3|       A/5 21171|       0|24.0|         [24.0,3.0]|
|     1|        PC 17599|       1|40.0|         [40.0,1.0]|
|     3|STON/O2. 3101282|       1|28.0|         [28.0,3.0]|
|     1|          113803|       1|37.0|         [37.0,1.0]|
|     3|          373450|       0|37.0|         [37.0,3.0]|
|     3|          330877|       0|26.0|         [26.0,3.0]|
|     1|           17463|       0|56.0|         [56.0,1.0]|
|     3|          349909|       0| 4.0|          [4.0,3.0]|
|     3|          347742|       1|29.0|         [29.0,3.0]|
|     2|          237736|       1|16.0|         [16.0,2.0]|
|     3|         PP 9549|       1| 6.0|          [6.0,3.0]|
|     1|          113783|       1|60.0|         [60.0,1.0]|
|     3|       A/5. 2151|       0|22.0|         [22.0,3.0]|
|     3|          347082|       0|41.0|         [41.0,3.0]|
|     3|          350406|       0|16.0|         [16.0,3.0]|
|     2|          248706|       1|57.0|         [57.0,2.0]|
|     3|          382652|       0| 4.0|          [4.0,3.0]|
|     2|          244373|       1|26.0|         [26.0,2.0]|
|     3|          345763|       0|33.0|         [33.0,3.0]|
|     3|            2649|       1|26.0|         [26.0,3.0]|
+------+----------------+--------+----+-------------------+
only showing top 20 rows

In [51]:
final_df = output.select(['Independent Feature','Survived'])

In [53]:
final_df.show()

+-------------------+--------+
|Independent Feature|Survived|
+-------------------+--------+
|         [24.0,3.0]|       0|
|         [40.0,1.0]|       1|
|         [28.0,3.0]|       1|
|         [37.0,1.0]|       1|
|         [37.0,3.0]|       0|
|         [26.0,3.0]|       0|
|         [56.0,1.0]|       0|
|          [4.0,3.0]|       0|
|         [29.0,3.0]|       1|
|         [16.0,2.0]|       1|
|          [6.0,3.0]|       1|
|         [60.0,1.0]|       1|
|         [22.0,3.0]|       0|
|         [41.0,3.0]|       0|
|         [16.0,3.0]|       0|
|         [57.0,2.0]|       1|
|          [4.0,3.0]|       0|
|         [26.0,2.0]|       1|
|         [33.0,3.0]|       0|
|         [26.0,3.0]|       1|
+-------------------+--------+
only showing top 20 rows

In [55]:
from pyspark.ml.regression import LinearRegression

train_data,test_data = final_df.randomSplit([0.75,0.25])

In [58]:
reg = LinearRegression(featuresCol = 'Independent Feature', labelCol = 'Survived' )
reg = reg.fit(train_data)

In [59]:
reg.coefficients

DenseVector([-0.0074, -0.2353])

In [61]:
reg.intercept

1.1405204394088084

In [62]:
pred_results = reg.evaluate(test_data)

In [65]:
pred_results.predictions.show()

+-------------------+--------+-------------------+
|Independent Feature|Survived|         prediction|
+-------------------+--------+-------------------+
|         [2.67,2.0]|       1| 0.6502636946968475|
|         [2.75,3.0]|       1|0.41436294607938895|
|          [3.0,3.0]|       1| 0.4125247740199225|
|          [4.0,3.0]|       0|0.40517208578205643|
|          [4.0,3.0]|       0|0.40517208578205643|
|          [4.0,3.0]|       0|0.40517208578205643|
|          [5.0,2.0]|       1| 0.6331319311026197|
|          [5.0,3.0]|       1| 0.3978193975441904|
|          [6.0,3.0]|       1| 0.3904667093063243|
|          [8.0,2.0]|       1| 0.6110738663890215|
|          [9.0,2.0]|       1| 0.6037211781511556|
|         [10.0,3.0]|       0| 0.3610559563548602|
|         [11.0,3.0]|       0|0.35370326811699415|
|         [11.0,3.0]|       0|0.35370326811699415|
|         [11.0,3.0]|       0|0.35370326811699415|
|         [15.0,3.0]|       1|0.32429251516553004|
|         [16.0,1.0]|       1| 0.7875648940445226|
|         [16.0,2.0]|       1| 0.5522523604860933|
|         [16.0,3.0]|       0|  0.316939826927664|
|         [16.0,3.0]|       0|  0.316939826927664|
+-------------------+--------+-------------------+
only showing top 20 rows