In [0]:
data = [(1, 'maheer', 20000, 'M', 'HR'), (2, 'mahesh', 24000, 'M', 'IT'), (3, 'asi', 18000, 'F', 'Technical'), (2, 'mahesh', 24000, 'M', 'HR')]
schema = ('id', 'name', 'salary', 'gender', 'dep')

df = spark.createDataFrame(data, schema)

df.show()

+---+------+------+------+---------+
| id|  name|salary|gender|      dep|
+---+------+------+------+---------+
|  1|maheer| 20000|     M|       HR|
|  2|mahesh| 24000|     M|       IT|
|  3|   asi| 18000|     F|Technical|
|  2|mahesh| 24000|     M|       HR|
+---+------+------+------+---------+

In [0]:
# default order is ascending
df.sort('dep').show()

+---+------+------+------+---------+
| id|  name|salary|gender|      dep|
+---+------+------+------+---------+
|  2|mahesh| 24000|     M|       HR|
|  1|maheer| 20000|     M|       HR|
|  2|mahesh| 24000|     M|       IT|
|  3|   asi| 18000|     F|Technical|
+---+------+------+------+---------+

In [0]:
df.sort(df.dep).show()

+---+------+------+------+---------+
| id|  name|salary|gender|      dep|
+---+------+------+------+---------+
|  1|maheer| 20000|     M|       HR|
|  2|mahesh| 24000|     M|       HR|
|  2|mahesh| 24000|     M|       IT|
|  3|   asi| 18000|     F|Technical|
+---+------+------+------+---------+

In [0]:
df.sort(df.dep.desc()).show()

+---+------+------+------+---------+
| id|  name|salary|gender|      dep|
+---+------+------+------+---------+
|  3|   asi| 18000|     F|Technical|
|  2|mahesh| 24000|     M|       IT|
|  1|maheer| 20000|     M|       HR|
|  2|mahesh| 24000|     M|       HR|
+---+------+------+------+---------+

In [0]:
df.orderBy(df.dep.desc()).show()

+---+------+------+------+---------+
| id|  name|salary|gender|      dep|
+---+------+------+------+---------+
|  3|   asi| 18000|     F|Technical|
|  2|mahesh| 24000|     M|       IT|
|  1|maheer| 20000|     M|       HR|
|  2|mahesh| 24000|     M|       HR|
+---+------+------+------+---------+