In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('practise').getOrCreate()

In [3]:
spark

In [4]:
df = spark.read.csv(r"C:\Users\pavan\OneDrive\Desktop\datasets\googleplaystore_user_reviews.csv")

In [5]:
df.show()

+--------------------+--------------------+--------------------+-------------------+--------------------+
|                 _c0|                 _c1|                 _c2|                _c3|                 _c4|
+--------------------+--------------------+--------------------+-------------------+--------------------+
|                 App|   Translated_Review|           Sentiment| Sentiment_Polarity|Sentiment_Subject...|
|10 Best Foods for...|"I like eat delic...| also ""Best Befo...|           Positive|                 1.0|
|10 Best Foods for...|This help eating ...|            Positive|               0.25| 0.28846153846153844|
|10 Best Foods for...|                 nan|                 nan|                nan|                 nan|
|10 Best Foods for...|Works great espec...|            Positive|                0.4|               0.875|
|10 Best Foods for...|        Best idea us|            Positive|                1.0|                 0.3|
|10 Best Foods for...|            Best way|            Positive|                1.0|                 0.3|
|10 Best Foods for...|             Amazing|            Positive| 0.6000000000000001|                 0.9|
|10 Best Foods for...|                 nan|                 nan|                nan|                 nan|
|10 Best Foods for...|Looking forward app,|             Neutral|                0.0|                 0.0|
|10 Best Foods for...|It helpful site !...|             Neutral|                0.0|                 0.0|
|10 Best Foods for...|           good you.|            Positive|                0.7|  0.6000000000000001|
|10 Best Foods for...|Useful informatio...|            Positive|                0.2|                 0.1|
|10 Best Foods for...|Thank you! Great ...|            Positive|               0.75|               0.875|
|10 Best Foods for...|Greatest ever Com...|            Positive|          0.9921875|  0.8666666666666667|
|10 Best Foods for...|Good health.........|            Positive| 0.5499999999999999|  0.5111111111111112|
|10 Best Foods for...|                 nan|                 nan|                nan|                 nan|
|10 Best Foods for...|Health It's impor...|            Positive|               0.45|                 1.0|
|10 Best Foods for...|Mrs sunita bhati ...|            Positive|                0.6|  0.6666666666666666|
|10 Best Foods for...|Very Useful in di...|            Positive|0.29500000000000004|                 0.1|
+--------------------+--------------------+--------------------+-------------------+--------------------+
only showing top 20 rows

In [6]:
df = spark.read.option('header','true').csv(r"C:\Users\pavan\OneDrive\Desktop\datasets\googleplaystore_user_reviews.csv")

In [7]:
df.printSchema()

root
 |-- App: string (nullable = true)
 |-- Translated_Review: string (nullable = true)
 |-- Sentiment: string (nullable = true)
 |-- Sentiment_Polarity: string (nullable = true)
 |-- Sentiment_Subjectivity: string (nullable = true)

In [8]:
df.show()

+--------------------+--------------------+--------------------+-------------------+----------------------+
|                 App|   Translated_Review|           Sentiment| Sentiment_Polarity|Sentiment_Subjectivity|
+--------------------+--------------------+--------------------+-------------------+----------------------+
|10 Best Foods for...|"I like eat delic...| also ""Best Befo...|           Positive|                   1.0|
|10 Best Foods for...|This help eating ...|            Positive|               0.25|   0.28846153846153844|
|10 Best Foods for...|                 nan|                 nan|                nan|                   nan|
|10 Best Foods for...|Works great espec...|            Positive|                0.4|                 0.875|
|10 Best Foods for...|        Best idea us|            Positive|                1.0|                   0.3|
|10 Best Foods for...|            Best way|            Positive|                1.0|                   0.3|
|10 Best Foods for...|             Amazing|            Positive| 0.6000000000000001|                   0.9|
|10 Best Foods for...|                 nan|                 nan|                nan|                   nan|
|10 Best Foods for...|Looking forward app,|             Neutral|                0.0|                   0.0|
|10 Best Foods for...|It helpful site !...|             Neutral|                0.0|                   0.0|
|10 Best Foods for...|           good you.|            Positive|                0.7|    0.6000000000000001|
|10 Best Foods for...|Useful informatio...|            Positive|                0.2|                   0.1|
|10 Best Foods for...|Thank you! Great ...|            Positive|               0.75|                 0.875|
|10 Best Foods for...|Greatest ever Com...|            Positive|          0.9921875|    0.8666666666666667|
|10 Best Foods for...|Good health.........|            Positive| 0.5499999999999999|    0.5111111111111112|
|10 Best Foods for...|                 nan|                 nan|                nan|                   nan|
|10 Best Foods for...|Health It's impor...|            Positive|               0.45|                   1.0|
|10 Best Foods for...|Mrs sunita bhati ...|            Positive|                0.6|    0.6666666666666666|
|10 Best Foods for...|Very Useful in di...|            Positive|0.29500000000000004|                   0.1|
|10 Best Foods for...|  One greatest apps.|            Positive|                1.0|                   1.0|
+--------------------+--------------------+--------------------+-------------------+----------------------+
only showing top 20 rows

In [9]:
df.head()

Row(App='10 Best Foods for You', Translated_Review='"I like eat delicious food. That\'s I\'m cooking food myself, case ""10 Best Foods"" helps lot', Sentiment=' also ""Best Before (Shelf Life)"""', Sentiment_Polarity='Positive', Sentiment_Subjectivity='1.0')

In [10]:
from pyspark.sql import SparkSession

In [11]:
spark = SparkSession.builder.appName('practise').getOrCreate()

In [12]:
df = spark.read.csv(r"C:\Users\pavan\OneDrive\Desktop\datasets\googleplaystore.csv", header = True, inferSchema = True)

In [13]:
df = spark.read.option('header','True').csv(r"C:\Users\pavan\OneDrive\Desktop\datasets\googleplaystore.csv", inferSchema = True)

In [14]:
df_pyspark = spark.read.option('header','true').csv(r"C:\Users\pavan\OneDrive\Desktop\datasets\googleplaystore.csv",inferSchema=True)

In [15]:
df.printSchema()

root
 |-- App: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Rating: string (nullable = true)
 |-- Reviews: string (nullable = true)
 |-- Size: string (nullable = true)
 |-- Installs: string (nullable = true)
 |-- Type: string (nullable = true)
 |-- Price: string (nullable = true)
 |-- Content Rating: string (nullable = true)
 |-- Genres: string (nullable = true)
 |-- Last Updated: string (nullable = true)
 |-- Current Ver: string (nullable = true)
 |-- Android Ver: string (nullable = true)

In [16]:
df.show()

+--------------------+--------------+------+-------+----+-----------+----+-----+--------------+--------------------+------------+------------------+------------+
|                 App|      Category|Rating|Reviews|Size|   Installs|Type|Price|Content Rating|              Genres|Last Updated|       Current Ver| Android Ver|
+--------------------+--------------+------+-------+----+-----------+----+-----+--------------+--------------------+------------+------------------+------------+
|Photo Editor & Ca...|ART_AND_DESIGN|   4.1|    159| 19M|    10,000+|Free|    0|      Everyone|        Art & Design|    7-Jan-18|             1.0.0|4.0.3 and up|
| Coloring book moana|ART_AND_DESIGN|   3.9|    967| 14M|   500,000+|Free|    0|      Everyone|Art & Design;Pret...|   15-Jan-18|             2.0.0|4.0.3 and up|
|U Launcher Lite –...|ART_AND_DESIGN|   4.7|  87510|8.7M| 5,000,000+|Free|    0|      Everyone|        Art & Design|    1-Aug-18|             1.2.4|4.0.3 and up|
|Sketch - Draw & P...|ART_AND_DESIGN|   4.5| 215644| 25M|50,000,000+|Free|    0|          Teen|        Art & Design|    8-Jun-18|Varies with device|  4.2 and up|
|Pixel Draw - Numb...|ART_AND_DESIGN|   4.3|    967|2.8M|   100,000+|Free|    0|      Everyone|Art & Design;Crea...|   20-Jun-18|               1.1|  4.4 and up|
|Paper flowers ins...|ART_AND_DESIGN|   4.4|    167|5.6M|    50,000+|Free|    0|      Everyone|        Art & Design|   26-Mar-17|                 1|  2.3 and up|
|Smoke Effect Phot...|ART_AND_DESIGN|   3.8|    178| 19M|    50,000+|Free|    0|      Everyone|        Art & Design|   26-Apr-18|               1.1|4.0.3 and up|
|    Infinite Painter|ART_AND_DESIGN|   4.1|  36815| 29M| 1,000,000+|Free|    0|      Everyone|        Art & Design|   14-Jun-18|          6.1.61.1|  4.2 and up|
|Garden Coloring Book|ART_AND_DESIGN|   4.4|  13791| 33M| 1,000,000+|Free|    0|      Everyone|        Art & Design|   20-Sep-17|             2.9.2|  3.0 and up|
|Kids Paint Free -...|ART_AND_DESIGN|   4.7|    121|3.1M|    10,000+|Free|    0|      Everyone|Art & Design;Crea...|    3-Jul-18|               2.8|4.0.3 and up|
|Text on Photo - F...|ART_AND_DESIGN|   4.4|  13880| 28M| 1,000,000+|Free|    0|      Everyone|        Art & Design|   27-Oct-17|             1.0.4|  4.1 and up|
|Name Art Photo Ed...|ART_AND_DESIGN|   4.4|   8788| 12M| 1,000,000+|Free|    0|      Everyone|        Art & Design|   31-Jul-18|            1.0.15|  4.0 and up|
|Tattoo Name On My...|ART_AND_DESIGN|   4.2|  44829| 20M|10,000,000+|Free|    0|          Teen|        Art & Design|    2-Apr-18|               3.8|  4.1 and up|
|Mandala Coloring ...|ART_AND_DESIGN|   4.6|   4326| 21M|   100,000+|Free|    0|      Everyone|        Art & Design|   26-Jun-18|             1.0.4|  4.4 and up|
|3D Color Pixel by...|ART_AND_DESIGN|   4.4|   1518| 37M|   100,000+|Free|    0|      Everyone|        Art & Design|    3-Aug-18|             1.2.3|  2.3 and up|
|Learn To Draw Kaw...|ART_AND_DESIGN|   3.2|     55|2.7M|     5,000+|Free|    0|      Everyone|        Art & Design|    6-Jun-18|               NaN|  4.2 and up|
|Photo Designer - ...|ART_AND_DESIGN|   4.7|   3632|5.5M|   500,000+|Free|    0|      Everyone|        Art & Design|   31-Jul-18|               3.1|  4.1 and up|
|350 Diy Room Deco...|ART_AND_DESIGN|   4.5|     27| 17M|    10,000+|Free|    0|      Everyone|        Art & Design|    7-Nov-17|                 1|  2.3 and up|
|FlipaClip - Carto...|ART_AND_DESIGN|   4.3| 194216| 39M| 5,000,000+|Free|    0|      Everyone|        Art & Design|    3-Aug-18|             2.2.5|4.0.3 and up|
|        ibis Paint X|ART_AND_DESIGN|   4.6| 224399| 31M|10,000,000+|Free|    0|      Everyone|        Art & Design|   30-Jul-18|             5.5.4|  4.1 and up|
+--------------------+--------------+------+-------+----+-----------+----+-----+--------------+--------------------+------------+------------------+------------+
only showing top 20 rows

In [17]:
df.dtypes

[('App', 'string'),
 ('Category', 'string'),
 ('Rating', 'string'),
 ('Reviews', 'string'),
 ('Size', 'string'),
 ('Installs', 'string'),
 ('Type', 'string'),
 ('Price', 'string'),
 ('Content Rating', 'string'),
 ('Genres', 'string'),
 ('Last Updated', 'string'),
 ('Current Ver', 'string'),
 ('Android Ver', 'string')]

In [18]:
df.select('App')

DataFrame[App: string]

In [19]:
df.select(['App','Category']).show()

+--------------------+--------------+
|                 App|      Category|
+--------------------+--------------+
|Photo Editor & Ca...|ART_AND_DESIGN|
| Coloring book moana|ART_AND_DESIGN|
|U Launcher Lite –...|ART_AND_DESIGN|
|Sketch - Draw & P...|ART_AND_DESIGN|
|Pixel Draw - Numb...|ART_AND_DESIGN|
|Paper flowers ins...|ART_AND_DESIGN|
|Smoke Effect Phot...|ART_AND_DESIGN|
|    Infinite Painter|ART_AND_DESIGN|
|Garden Coloring Book|ART_AND_DESIGN|
|Kids Paint Free -...|ART_AND_DESIGN|
|Text on Photo - F...|ART_AND_DESIGN|
|Name Art Photo Ed...|ART_AND_DESIGN|
|Tattoo Name On My...|ART_AND_DESIGN|
|Mandala Coloring ...|ART_AND_DESIGN|
|3D Color Pixel by...|ART_AND_DESIGN|
|Learn To Draw Kaw...|ART_AND_DESIGN|
|Photo Designer - ...|ART_AND_DESIGN|
|350 Diy Room Deco...|ART_AND_DESIGN|
|FlipaClip - Carto...|ART_AND_DESIGN|
|        ibis Paint X|ART_AND_DESIGN|
+--------------------+--------------+
only showing top 20 rows

In [20]:
df.describe().show()

+-------+--------------------+-------------+-----------+-----------------+------------------+------------------+-----+------------------+--------------+---------+------------+-------------+------------------+
|summary|                 App|     Category|     Rating|          Reviews|              Size|          Installs| Type|             Price|Content Rating|   Genres|Last Updated|  Current Ver|       Android Ver|
+-------+--------------------+-------------+-----------+-----------------+------------------+------------------+-----+------------------+--------------+---------+------------+-------------+------------------+
|  count|               10841|        10841|      10841|            10841|             10841|             10841|10841|             10841|         10840|    10841|       10841|        10840|             10840|
|   mean|                NULL|          1.9|        NaN|444225.1924709356|              NULL| 2.866666666666667|  NaN|               0.0|          NULL|     NULL|         0.0|          NaN|               NaN|
| stddev|                NULL|         NULL|        NaN|2928025.838407947|              NULL|2.4846193538112304|  NaN|               0.0|          NULL|     NULL|         0.0|          NaN|               NaN|
|    min|"""i DT"" Fútbol....| traffic jams| navigation|          camera"|            1,000+|                 0|    0|            $0.99 |    1,000,000+|11-Feb-18|           0|      0.0.0.2|        1.0 and up|
|    max|🔥 Football Wallp...|      WEATHER|        NaN|    weight lose)"|Varies with device|              Free| Paid|Varies with device|       Unrated|     Word|    9-Sep-17|version 0.994|Varies with device|
+-------+--------------------+-------------+-----------+-----------------+------------------+------------------+-----+------------------+--------------+---------+------------+-------------+------------------+

In [21]:
df.withColumn('Rating+1', df['Rating']+1)

DataFrame[App: string, Category: string, Rating: string, Reviews: string, Size: string, Installs: string, Type: string, Price: string, Content Rating: string, Genres: string, Last Updated: string, Current Ver: string, Android Ver: string, Rating+1: double]

In [22]:
df.columns

['App',
 'Category',
 'Rating',
 'Reviews',
 'Size',
 'Installs',
 'Type',
 'Price',
 'Content Rating',
 'Genres',
 'Last Updated',
 'Current Ver',
 'Android Ver']

In [23]:
df.withColumn('Rating+1', df['Rating']+1).show()

+--------------------+--------------+------+-------+----+-----------+----+-----+--------------+--------------------+------------+------------------+------------+--------+
|                 App|      Category|Rating|Reviews|Size|   Installs|Type|Price|Content Rating|              Genres|Last Updated|       Current Ver| Android Ver|Rating+1|
+--------------------+--------------+------+-------+----+-----------+----+-----+--------------+--------------------+------------+------------------+------------+--------+
|Photo Editor & Ca...|ART_AND_DESIGN|   4.1|    159| 19M|    10,000+|Free|    0|      Everyone|        Art & Design|    7-Jan-18|             1.0.0|4.0.3 and up|     5.1|
| Coloring book moana|ART_AND_DESIGN|   3.9|    967| 14M|   500,000+|Free|    0|      Everyone|Art & Design;Pret...|   15-Jan-18|             2.0.0|4.0.3 and up|     4.9|
|U Launcher Lite –...|ART_AND_DESIGN|   4.7|  87510|8.7M| 5,000,000+|Free|    0|      Everyone|        Art & Design|    1-Aug-18|             1.2.4|4.0.3 and up|     5.7|
|Sketch - Draw & P...|ART_AND_DESIGN|   4.5| 215644| 25M|50,000,000+|Free|    0|          Teen|        Art & Design|    8-Jun-18|Varies with device|  4.2 and up|     5.5|
|Pixel Draw - Numb...|ART_AND_DESIGN|   4.3|    967|2.8M|   100,000+|Free|    0|      Everyone|Art & Design;Crea...|   20-Jun-18|               1.1|  4.4 and up|     5.3|
|Paper flowers ins...|ART_AND_DESIGN|   4.4|    167|5.6M|    50,000+|Free|    0|      Everyone|        Art & Design|   26-Mar-17|                 1|  2.3 and up|     5.4|
|Smoke Effect Phot...|ART_AND_DESIGN|   3.8|    178| 19M|    50,000+|Free|    0|      Everyone|        Art & Design|   26-Apr-18|               1.1|4.0.3 and up|     4.8|
|    Infinite Painter|ART_AND_DESIGN|   4.1|  36815| 29M| 1,000,000+|Free|    0|      Everyone|        Art & Design|   14-Jun-18|          6.1.61.1|  4.2 and up|     5.1|
|Garden Coloring Book|ART_AND_DESIGN|   4.4|  13791| 33M| 1,000,000+|Free|    0|      Everyone|        Art & Design|   20-Sep-17|             2.9.2|  3.0 and up|     5.4|
|Kids Paint Free -...|ART_AND_DESIGN|   4.7|    121|3.1M|    10,000+|Free|    0|      Everyone|Art & Design;Crea...|    3-Jul-18|               2.8|4.0.3 and up|     5.7|
|Text on Photo - F...|ART_AND_DESIGN|   4.4|  13880| 28M| 1,000,000+|Free|    0|      Everyone|        Art & Design|   27-Oct-17|             1.0.4|  4.1 and up|     5.4|
|Name Art Photo Ed...|ART_AND_DESIGN|   4.4|   8788| 12M| 1,000,000+|Free|    0|      Everyone|        Art & Design|   31-Jul-18|            1.0.15|  4.0 and up|     5.4|
|Tattoo Name On My...|ART_AND_DESIGN|   4.2|  44829| 20M|10,000,000+|Free|    0|          Teen|        Art & Design|    2-Apr-18|               3.8|  4.1 and up|     5.2|
|Mandala Coloring ...|ART_AND_DESIGN|   4.6|   4326| 21M|   100,000+|Free|    0|      Everyone|        Art & Design|   26-Jun-18|             1.0.4|  4.4 and up|     5.6|
|3D Color Pixel by...|ART_AND_DESIGN|   4.4|   1518| 37M|   100,000+|Free|    0|      Everyone|        Art & Design|    3-Aug-18|             1.2.3|  2.3 and up|     5.4|
|Learn To Draw Kaw...|ART_AND_DESIGN|   3.2|     55|2.7M|     5,000+|Free|    0|      Everyone|        Art & Design|    6-Jun-18|               NaN|  4.2 and up|     4.2|
|Photo Designer - ...|ART_AND_DESIGN|   4.7|   3632|5.5M|   500,000+|Free|    0|      Everyone|        Art & Design|   31-Jul-18|               3.1|  4.1 and up|     5.7|
|350 Diy Room Deco...|ART_AND_DESIGN|   4.5|     27| 17M|    10,000+|Free|    0|      Everyone|        Art & Design|    7-Nov-17|                 1|  2.3 and up|     5.5|
|FlipaClip - Carto...|ART_AND_DESIGN|   4.3| 194216| 39M| 5,000,000+|Free|    0|      Everyone|        Art & Design|    3-Aug-18|             2.2.5|4.0.3 and up|     5.3|
|        ibis Paint X|ART_AND_DESIGN|   4.6| 224399| 31M|10,000,000+|Free|    0|      Everyone|        Art & Design|   30-Jul-18|             5.5.4|  4.1 and up|     5.6|
+--------------------+--------------+------+-------+----+-----------+----+-----+--------------+--------------------+------------+------------------+------------+--------+
only showing top 20 rows

In [24]:
df.columns

['App',
 'Category',
 'Rating',
 'Reviews',
 'Size',
 'Installs',
 'Type',
 'Price',
 'Content Rating',
 'Genres',
 'Last Updated',
 'Current Ver',
 'Android Ver']

In [25]:
df = df.drop('Current Ver',
 'Android Ver')

In [26]:
df.columns

['App',
 'Category',
 'Rating',
 'Reviews',
 'Size',
 'Installs',
 'Type',
 'Price',
 'Content Rating',
 'Genres',
 'Last Updated']

In [27]:
df = df.withColumnRenamed('App','Application')

In [28]:
df.columns

['Application',
 'Category',
 'Rating',
 'Reviews',
 'Size',
 'Installs',
 'Type',
 'Price',
 'Content Rating',
 'Genres',
 'Last Updated']

In [29]:
df.Genres

Column<'Genres'>

In [30]:
from pyspark.sql import SparkSession

In [31]:
spark = SparkSession.builder.appName('practise').getOrCreate()

In [32]:
df = spark.read.csv(r"C:\Users\pavan\OneDrive\Desktop\datasets\test2.csv",inferSchema = True, header= True)

In [33]:
df.columns

['Name', 'Department', 'Salary']

In [34]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [35]:
df.show()

+-------+------------+------+
|   Name|  Department|Salary|
+-------+------------+------+
|   john|Data Science| 10000|
|Stephen|         IOT|  5000|
|   NULL|     Bigdata|  4000|
|   paul|     Bigdata|  NULL|
|  Krish|Data Science| 20000|
|    Joe|Data Science| 10000|
|Stephen|         IOT|  5000|
|   jack|     Bigdata| 10000|
|  Krish|        NULL|  8000|
+-------+------------+------+

In [36]:
df.describe()

DataFrame[summary: string, Name: string, Department: string, Salary: string]

In [37]:
df.describe().show()

+-------+----+----------+-----------------+
|summary|Name|Department|           Salary|
+-------+----+----------+-----------------+
|  count|   8|         8|                8|
|   mean|NULL|      NULL|           9000.0|
| stddev|NULL|      NULL|5099.019513592785|
|    min| Joe|   Bigdata|             4000|
|    max|paul|       IOT|            20000|
+-------+----+----------+-----------------+

In [38]:
df.na.drop().show() # deletes all rows that have null values

+-------+------------+------+
|   Name|  Department|Salary|
+-------+------------+------+
|   john|Data Science| 10000|
|Stephen|         IOT|  5000|
|  Krish|Data Science| 20000|
|    Joe|Data Science| 10000|
|Stephen|         IOT|  5000|
|   jack|     Bigdata| 10000|
+-------+------------+------+

In [39]:
df.na.drop()

DataFrame[Name: string, Department: string, Salary: int]

In [40]:
df.na.drop(how='all').show()

+-------+------------+------+
|   Name|  Department|Salary|
+-------+------------+------+
|   john|Data Science| 10000|
|Stephen|         IOT|  5000|
|   NULL|     Bigdata|  4000|
|   paul|     Bigdata|  NULL|
|  Krish|Data Science| 20000|
|    Joe|Data Science| 10000|
|Stephen|         IOT|  5000|
|   jack|     Bigdata| 10000|
|  Krish|        NULL|  8000|
+-------+------------+------+

In [41]:
df.na.drop(how='any').show()

+-------+------------+------+
|   Name|  Department|Salary|
+-------+------------+------+
|   john|Data Science| 10000|
|Stephen|         IOT|  5000|
|  Krish|Data Science| 20000|
|    Joe|Data Science| 10000|
|Stephen|         IOT|  5000|
|   jack|     Bigdata| 10000|
+-------+------------+------+

In [42]:
df.na.drop(how='any',thresh=1).show()

+-------+------------+------+
|   Name|  Department|Salary|
+-------+------------+------+
|   john|Data Science| 10000|
|Stephen|         IOT|  5000|
|   NULL|     Bigdata|  4000|
|   paul|     Bigdata|  NULL|
|  Krish|Data Science| 20000|
|    Joe|Data Science| 10000|
|Stephen|         IOT|  5000|
|   jack|     Bigdata| 10000|
|  Krish|        NULL|  8000|
+-------+------------+------+

In [43]:
df1 = df.withColumn('UpdatedSalary', df['Salary']+1000)

In [44]:
df1.show()

+-------+------------+------+-------------+
|   Name|  Department|Salary|UpdatedSalary|
+-------+------------+------+-------------+
|   john|Data Science| 10000|        11000|
|Stephen|         IOT|  5000|         6000|
|   NULL|     Bigdata|  4000|         5000|
|   paul|     Bigdata|  NULL|         NULL|
|  Krish|Data Science| 20000|        21000|
|    Joe|Data Science| 10000|        11000|
|Stephen|         IOT|  5000|         6000|
|   jack|     Bigdata| 10000|        11000|
|  Krish|        NULL|  8000|         9000|
+-------+------------+------+-------------+

In [45]:
df.show()

+-------+------------+------+
|   Name|  Department|Salary|
+-------+------------+------+
|   john|Data Science| 10000|
|Stephen|         IOT|  5000|
|   NULL|     Bigdata|  4000|
|   paul|     Bigdata|  NULL|
|  Krish|Data Science| 20000|
|    Joe|Data Science| 10000|
|Stephen|         IOT|  5000|
|   jack|     Bigdata| 10000|
|  Krish|        NULL|  8000|
+-------+------------+------+

In [46]:
df.na.drop(how='any',subset = 'Salary').show()

+-------+------------+------+
|   Name|  Department|Salary|
+-------+------------+------+
|   john|Data Science| 10000|
|Stephen|         IOT|  5000|
|   NULL|     Bigdata|  4000|
|  Krish|Data Science| 20000|
|    Joe|Data Science| 10000|
|Stephen|         IOT|  5000|
|   jack|     Bigdata| 10000|
|  Krish|        NULL|  8000|
+-------+------------+------+

In [47]:
df.na.drop(how='any',subset = ['Salary','Department']).show()

+-------+------------+------+
|   Name|  Department|Salary|
+-------+------------+------+
|   john|Data Science| 10000|
|Stephen|         IOT|  5000|
|   NULL|     Bigdata|  4000|
|  Krish|Data Science| 20000|
|    Joe|Data Science| 10000|
|Stephen|         IOT|  5000|
|   jack|     Bigdata| 10000|
+-------+------------+------+

In [48]:
df.na.fill('missing value').show() #here salary is not replaced wityh missing value because it's an integer

+-------------+-------------+------+
|         Name|   Department|Salary|
+-------------+-------------+------+
|         john| Data Science| 10000|
|      Stephen|          IOT|  5000|
|missing value|      Bigdata|  4000|
|         paul|      Bigdata|  NULL|
|        Krish| Data Science| 20000|
|          Joe| Data Science| 10000|
|      Stephen|          IOT|  5000|
|         jack|      Bigdata| 10000|
|        Krish|missing value|  8000|
+-------------+-------------+------+

In [49]:
df.na.fill('missing value','Name').show()

+-------------+------------+------+
|         Name|  Department|Salary|
+-------------+------------+------+
|         john|Data Science| 10000|
|      Stephen|         IOT|  5000|
|missing value|     Bigdata|  4000|
|         paul|     Bigdata|  NULL|
|        Krish|Data Science| 20000|
|          Joe|Data Science| 10000|
|      Stephen|         IOT|  5000|
|         jack|     Bigdata| 10000|
|        Krish|        NULL|  8000|
+-------------+------------+------+

In [50]:
df.na.fill('missing value',['Name','Department']).show()

+-------------+-------------+------+
|         Name|   Department|Salary|
+-------------+-------------+------+
|         john| Data Science| 10000|
|      Stephen|          IOT|  5000|
|missing value|      Bigdata|  4000|
|         paul|      Bigdata|  NULL|
|        Krish| Data Science| 20000|
|          Joe| Data Science| 10000|
|      Stephen|          IOT|  5000|
|         jack|      Bigdata| 10000|
|        Krish|missing value|  8000|
+-------------+-------------+------+

In [51]:
from pyspark.ml.feature import Imputer

In [54]:
imputer = Imputer(
inputCols = ['Salary'],
outputCols = ["{}_imputed".format(c) for c in ['Salary']] ).setStrategy("mode")

In [55]:
imputer.fit(df).transform(df).show()

+-------+------------+------+--------------+
|   Name|  Department|Salary|Salary_imputed|
+-------+------------+------+--------------+
|   john|Data Science| 10000|         10000|
|Stephen|         IOT|  5000|          5000|
|   NULL|     Bigdata|  4000|          4000|
|   paul|     Bigdata|  NULL|         10000|
|  Krish|Data Science| 20000|         20000|
|    Joe|Data Science| 10000|         10000|
|Stephen|         IOT|  5000|          5000|
|   jack|     Bigdata| 10000|         10000|
|  Krish|        NULL|  8000|          8000|
+-------+------------+------+--------------+

In [56]:
from pyspark.ml.feature import Imputer

In [59]:
imputer = Imputer(
    inputCols = ['Salary'],
    outputCols = [f'{c}_imputed' for c in ['Salary']]  
).setStrategy("mode")

In [60]:
imputer.fit(df).transform(df).show()

+-------+------------+------+--------------+
|   Name|  Department|Salary|Salary_imputed|
+-------+------------+------+--------------+
|   john|Data Science| 10000|         10000|
|Stephen|         IOT|  5000|          5000|
|   NULL|     Bigdata|  4000|          4000|
|   paul|     Bigdata|  NULL|         10000|
|  Krish|Data Science| 20000|         20000|
|    Joe|Data Science| 10000|         10000|
|Stephen|         IOT|  5000|          5000|
|   jack|     Bigdata| 10000|         10000|
|  Krish|        NULL|  8000|          8000|
+-------+------------+------+--------------+

In [61]:
from pyspark.ml.feature import Imputer

In [67]:
imputer = Imputer(
    inputCols = ['Salary'],
    outputCols = [f'{c}_imputed' for c in ['Salary']]
).setStrategy('mean')

In [68]:
imputer.fit(df).transform(df).show()

+-------+------------+------+--------------+
|   Name|  Department|Salary|Salary_imputed|
+-------+------------+------+--------------+
|   john|Data Science| 10000|         10000|
|Stephen|         IOT|  5000|          5000|
|   NULL|     Bigdata|  4000|          4000|
|   paul|     Bigdata|  NULL|          9000|
|  Krish|Data Science| 20000|         20000|
|    Joe|Data Science| 10000|         10000|
|Stephen|         IOT|  5000|          5000|
|   jack|     Bigdata| 10000|         10000|
|  Krish|        NULL|  8000|          8000|
+-------+------------+------+--------------+

In [69]:
from pyspark.sql import SparkSession

In [70]:
spark = SparkSession.builder.appName('practise').getOrCreate()

In [73]:
df = spark.read.csv(r"C:\Users\pavan\OneDrive\Desktop\datasets\test3.csv", header = True, inferSchema = True)

In [74]:
df.show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|   john| 31|        10| 10000|
|Stephen| 30|         8|  5000|
|  Stacy| 29|         4|  4000|
|   paul| 24|         3|  3000|
|  Krish| 21|         1| 20000|
|    Joe| 23|         2| 10000|
|Stephen| 22|         2|  5000|
|   jack| 19|         1| 10000|
|  Krish| 20|         2|  8000|
+-------+---+----------+------+

In [75]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [76]:
df.columns

['Name', 'Age', 'Experience', 'Salary']

In [78]:
df.filter('Salary >= 20000').show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|Krish| 21|         1| 20000|
+-----+---+----------+------+

In [80]:
df.filter(df['Age'] > 30).show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
|john| 31|        10| 10000|
+----+---+----------+------+

In [82]:
df.filter(~(df['Age']<30)).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|   john| 31|        10| 10000|
|Stephen| 30|         8|  5000|
+-------+---+----------+------+

In [87]:
df.filter((df['Age']>30) | (df['Salary'] > 1000)).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|   john| 31|        10| 10000|
|Stephen| 30|         8|  5000|
|  Stacy| 29|         4|  4000|
|   paul| 24|         3|  3000|
|  Krish| 21|         1| 20000|
|    Joe| 23|         2| 10000|
|Stephen| 22|         2|  5000|
|   jack| 19|         1| 10000|
|  Krish| 20|         2|  8000|
+-------+---+----------+------+

In [88]:
from pyspark.sql import SparkSession

In [89]:
spark = SparkSession.builder.appName('practise').getOrCreate()

In [90]:
df = spark.read.csv(r"C:\Users\pavan\OneDrive\Desktop\datasets\test2.csv",header = True, inferSchema = True)

In [91]:
df.show()

+-------+------------+------+
|   Name|  Department|Salary|
+-------+------------+------+
|   john|Data Science| 10000|
|Stephen|         IOT|  5000|
|   NULL|     Bigdata|  4000|
|   paul|     Bigdata|  NULL|
|  Krish|Data Science| 20000|
|    Joe|Data Science| 10000|
|Stephen|         IOT|  5000|
|   jack|     Bigdata| 10000|
|  Krish|        NULL|  8000|
+-------+------------+------+

In [95]:
df.groupby('Name').sum().show()

+-------+-----------+
|   Name|sum(Salary)|
+-------+-----------+
|    Joe|      10000|
|   NULL|       4000|
|   jack|      10000|
|   paul|       NULL|
|  Krish|      28000|
|   john|      10000|
|Stephen|      10000|
+-------+-----------+

In [97]:
df.groupby('Department').sum().show()

+------------+-----------+
|  Department|sum(Salary)|
+------------+-----------+
|         IOT|      10000|
|        NULL|       8000|
|     Bigdata|      14000|
|Data Science|      40000|
+------------+-----------+

In [98]:
df.groupby('Department').min().show()

+------------+-----------+
|  Department|min(Salary)|
+------------+-----------+
|         IOT|       5000|
|        NULL|       8000|
|     Bigdata|       4000|
|Data Science|      10000|
+------------+-----------+

In [99]:
df.groupby('Department').max().show()

+------------+-----------+
|  Department|max(Salary)|
+------------+-----------+
|         IOT|       5000|
|        NULL|       8000|
|     Bigdata|      10000|
|Data Science|      20000|
+------------+-----------+

In [100]:
df.groupby('Department').count().show()

+------------+-----+
|  Department|count|
+------------+-----+
|         IOT|    2|
|        NULL|    1|
|     Bigdata|    3|
|Data Science|    3|
+------------+-----+

In [101]:
df.groupby('Department').avg().show()

+------------+------------------+
|  Department|       avg(Salary)|
+------------+------------------+
|         IOT|            5000.0|
|        NULL|            8000.0|
|     Bigdata|            7000.0|
|Data Science|13333.333333333334|
+------------+------------------+

In [102]:
df.groupby('Department').mean().show()

+------------+------------------+
|  Department|       avg(Salary)|
+------------+------------------+
|         IOT|            5000.0|
|        NULL|            8000.0|
|     Bigdata|            7000.0|
|Data Science|13333.333333333334|
+------------+------------------+

In [107]:
df.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      72000|
+-----------+

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [17]:
df = spark.read.csv(r"C:\Users\pavan\OneDrive\Desktop\datasets\test2.csv", header = True, inferSchema = True)

In [18]:
df.show()

+-------+------------+------+
|   Name|  Department|Salary|
+-------+------------+------+
|   john|Data Science| 10000|
|Stephen|         IOT|  5000|
|   NULL|     Bigdata|  4000|
|   paul|     Bigdata|  NULL|
|  Krish|Data Science| 20000|
|    Joe|Data Science| 10000|
|Stephen|         IOT|  5000|
|   jack|     Bigdata| 10000|
|  Krish|        NULL|  8000|
+-------+------------+------+

In [19]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [23]:
df.na.drop(how = "all", thresh = 2).show()

+-------+------------+------+
|   Name|  Department|Salary|
+-------+------------+------+
|   john|Data Science| 10000|
|Stephen|         IOT|  5000|
|   NULL|     Bigdata|  4000|
|   paul|     Bigdata|  NULL|
|  Krish|Data Science| 20000|
|    Joe|Data Science| 10000|
|Stephen|         IOT|  5000|
|   jack|     Bigdata| 10000|
|  Krish|        NULL|  8000|
+-------+------------+------+

In [24]:
df = spark.read.csv(r"C:\Users\pavan\OneDrive\Desktop\datasets\test3.csv", header = True, inferSchema = True)

In [25]:
df.show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|   john| 31|        10| 10000|
|Stephen| 30|         8|  5000|
|  Stacy| 29|         4|  4000|
|   paul| 24|         3|  3000|
|  Krish| 21|         1| 20000|
|    Joe| 23|         2| 10000|
|Stephen| 22|         2|  5000|
|   jack| 19|         1| 10000|
|  Krish| 20|         2|  8000|
+-------+---+----------+------+

In [26]:
from pyspark.ml.feature import VectorAssembler

In [28]:
featureassembler = VectorAssembler(inputCols = ['Age', 'Experience'], outputCol = 'independent feature')

In [32]:
output = featureassembler.transform(df)

In [33]:
output.show()

+-------+---+----------+------+-------------------+
|   Name|Age|Experience|Salary|independent feature|
+-------+---+----------+------+-------------------+
|   john| 31|        10| 10000|        [31.0,10.0]|
|Stephen| 30|         8|  5000|         [30.0,8.0]|
|  Stacy| 29|         4|  4000|         [29.0,4.0]|
|   paul| 24|         3|  3000|         [24.0,3.0]|
|  Krish| 21|         1| 20000|         [21.0,1.0]|
|    Joe| 23|         2| 10000|         [23.0,2.0]|
|Stephen| 22|         2|  5000|         [22.0,2.0]|
|   jack| 19|         1| 10000|         [19.0,1.0]|
|  Krish| 20|         2|  8000|         [20.0,2.0]|
+-------+---+----------+------+-------------------+

In [34]:
output_df = output.select(['independent feature', 'Salary'])

In [35]:
output_df.show()

+-------------------+------+
|independent feature|Salary|
+-------------------+------+
|        [31.0,10.0]| 10000|
|         [30.0,8.0]|  5000|
|         [29.0,4.0]|  4000|
|         [24.0,3.0]|  3000|
|         [21.0,1.0]| 20000|
|         [23.0,2.0]| 10000|
|         [22.0,2.0]|  5000|
|         [19.0,1.0]| 10000|
|         [20.0,2.0]|  8000|
+-------------------+------+

In [38]:
from pyspark.ml.regression import LinearRegression

In [39]:
train_data, test_data = output_df.randomSplit([0.75,0.25])

In [40]:
train_data.show()

+-------------------+------+
|independent feature|Salary|
+-------------------+------+
|         [19.0,1.0]| 10000|
|         [20.0,2.0]|  8000|
|         [21.0,1.0]| 20000|
|         [22.0,2.0]|  5000|
|         [23.0,2.0]| 10000|
|         [24.0,3.0]|  3000|
|         [29.0,4.0]|  4000|
|        [31.0,10.0]| 10000|
+-------------------+------+

In [41]:
test_data.show()

+-------------------+------+
|independent feature|Salary|
+-------------------+------+
|         [30.0,8.0]|  5000|
+-------------------+------+

In [44]:
regressor = LinearRegression(featuresCol = 'independent feature', labelCol = 'Salary')

In [45]:
regressor = regressor.fit(output_df)

In [47]:
regressor.coefficients

DenseVector([-794.057, 602.1461])

In [49]:
regressor.intercept

25447.516852386492

In [52]:
pred_results = regressor.evaluate(test_data)

In [54]:
pred_results.predictions.show()

+-------------------+------+-----------------+
|independent feature|Salary|       prediction|
+-------------------+------+-----------------+
|         [30.0,8.0]|  5000|6442.977025725682|
+-------------------+------+-----------------+

In [55]:
pred_results.meanAbsoluteError, pred_results.meanSquaredError

(1442.9770257256823, 2082182.6967721365)

In [57]:
df.show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|   john| 31|        10| 10000|
|Stephen| 30|         8|  5000|
|  Stacy| 29|         4|  4000|
|   paul| 24|         3|  3000|
|  Krish| 21|         1| 20000|
|    Joe| 23|         2| 10000|
|Stephen| 22|         2|  5000|
|   jack| 19|         1| 10000|
|  Krish| 20|         2|  8000|
+-------+---+----------+------+

In [58]:
from pyspark.ml.feature import VectorAssembler

In [59]:
featureassembler = VectorAssembler(inputCols = ['Age','Experience'], outputCol = "Independent col")

In [65]:
output_df= featureassembler.transform(df)

In [66]:
output_df.show()

+-------+---+----------+------+---------------+
|   Name|Age|Experience|Salary|Independent col|
+-------+---+----------+------+---------------+
|   john| 31|        10| 10000|    [31.0,10.0]|
|Stephen| 30|         8|  5000|     [30.0,8.0]|
|  Stacy| 29|         4|  4000|     [29.0,4.0]|
|   paul| 24|         3|  3000|     [24.0,3.0]|
|  Krish| 21|         1| 20000|     [21.0,1.0]|
|    Joe| 23|         2| 10000|     [23.0,2.0]|
|Stephen| 22|         2|  5000|     [22.0,2.0]|
|   jack| 19|         1| 10000|     [19.0,1.0]|
|  Krish| 20|         2|  8000|     [20.0,2.0]|
+-------+---+----------+------+---------------+

In [68]:
output_df= output_df.select(['Independent col', 'Salary'])

In [69]:
output_df.show()

+---------------+------+
|Independent col|Salary|
+---------------+------+
|    [31.0,10.0]| 10000|
|     [30.0,8.0]|  5000|
|     [29.0,4.0]|  4000|
|     [24.0,3.0]|  3000|
|     [21.0,1.0]| 20000|
|     [23.0,2.0]| 10000|
|     [22.0,2.0]|  5000|
|     [19.0,1.0]| 10000|
|     [20.0,2.0]|  8000|
+---------------+------+

In [71]:
from pyspark.ml.regression import LinearRegression

In [72]:
train_data, test_data = output_df.randomSplit([0.75,0.25])

In [73]:
regressor = LinearRegression(featuresCol = 'Independent col', labelCol = 'Salary')

In [74]:
regressor = regressor.fit(train_data)

In [75]:
regressor.coefficients

DenseVector([1016.4609, -2833.3333])

In [77]:
prediction = regressor.evaluate(test_data)

In [79]:
prediction.predictions.show()

+---------------+------+-------------------+
|Independent col|Salary|         prediction|
+---------------+------+-------------------+
|     [19.0,1.0]| 10000| 11255.144032921886|
|     [22.0,2.0]|  5000| 11471.193415637834|
|     [23.0,2.0]| 10000|  12487.65432098756|
|     [29.0,4.0]|  4000| 12919.753086419452|
|    [31.0,10.0]| 10000|-2047.3251028805444|
+---------------+------+-------------------+

In [80]:
from pyspark.ml.feature import VectorAssembler

In [81]:
featureassembler = VectorAssembler(inputCols = (['Age', 'Experience']), outputCol = 'Independent Col')

In [84]:
output_df = featureassembler.transform(df)

In [85]:
output_df.show()

+-------+---+----------+------+---------------+
|   Name|Age|Experience|Salary|Independent Col|
+-------+---+----------+------+---------------+
|   john| 31|        10| 10000|    [31.0,10.0]|
|Stephen| 30|         8|  5000|     [30.0,8.0]|
|  Stacy| 29|         4|  4000|     [29.0,4.0]|
|   paul| 24|         3|  3000|     [24.0,3.0]|
|  Krish| 21|         1| 20000|     [21.0,1.0]|
|    Joe| 23|         2| 10000|     [23.0,2.0]|
|Stephen| 22|         2|  5000|     [22.0,2.0]|
|   jack| 19|         1| 10000|     [19.0,1.0]|
|  Krish| 20|         2|  8000|     [20.0,2.0]|
+-------+---+----------+------+---------------+

In [87]:
output_df = output_df.select(['Independent Col','Salary'])

In [88]:
output_df.show()

+---------------+------+
|Independent Col|Salary|
+---------------+------+
|    [31.0,10.0]| 10000|
|     [30.0,8.0]|  5000|
|     [29.0,4.0]|  4000|
|     [24.0,3.0]|  3000|
|     [21.0,1.0]| 20000|
|     [23.0,2.0]| 10000|
|     [22.0,2.0]|  5000|
|     [19.0,1.0]| 10000|
|     [20.0,2.0]|  8000|
+---------------+------+

In [90]:
from pyspark.ml.regression import LinearRegression

In [91]:
train_data, test_data = output_df.randomSplit([0.75,0.25])

In [96]:
regressor = LinearRegression(featuresCol = 'Independent Col', labelCol = 'Salary')

In [98]:
regressor = regressor.fit(train_data)

In [100]:
regressor.coefficients

DenseVector([-794.057, 602.1461])

In [101]:
regressor.intercept

25447.516852386492