In [1]:
pip install pyspark

Requirement already satisfied: pyspark in c:\users\pavan\anaconda3\lib\site-packages (3.5.0)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\pavan\anaconda3\lib\site-packages (from pyspark) (0.10.9.7)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pyspark

In [3]:
import pandas as pd

In [4]:
pd.read_csv(r"C:\Users\pavan\OneDrive\Desktop\datasets\test1.csv")

   Id      Name  Age
0    1     john   22
1    2  Stephen   22
2    3    Stacy   24
3    4     paul   23
4    5      Joe   32
5    6      Joe   45

## To start a spark session

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [7]:
spark #when executing in local only 1 machine would be running

In [12]:
df_pyspark = spark.read.csv(r"C:\Users\pavan\OneDrive\Desktop\datasets\test1.csv")

In [13]:
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string]

In [14]:
df_pyspark.show()

+---+-------+---+
|_c0|    _c1|_c2|
+---+-------+---+
|Id |   Name|Age|
|  1|   john| 22|
|  2|Stephen| 22|
|  3|  Stacy| 24|
|  4|   paul| 23|
|  5|    Joe| 32|
|  6|    Joe| 45|
+---+-------+---+

In [16]:
df_pyspark = spark.read.option('header','true').csv(r"C:\Users\pavan\OneDrive\Desktop\datasets\test1.csv")

In [17]:
df_pyspark.show()

+---+-------+---+
|Id |   Name|Age|
+---+-------+---+
|  1|   john| 22|
|  2|Stephen| 22|
|  3|  Stacy| 24|
|  4|   paul| 23|
|  5|    Joe| 32|
|  6|    Joe| 45|
+---+-------+---+

In [18]:
df_pyspark.head()

Row(Id ='1', Name='john', Age='22')

In [19]:
df_pyspark.head(5)

[Row(Id ='1', Name='john', Age='22'),
 Row(Id ='2', Name='Stephen', Age='22'),
 Row(Id ='3', Name='Stacy', Age='24'),
 Row(Id ='4', Name='paul', Age='23'),
 Row(Id ='5', Name='Joe', Age='32')]

In [14]:
#gives info about columns - similar to info() in pandas
df_pyspark.printSchema()

root
 |-- Age: string (nullable = true)
 |-- Premium: string (nullable = true)