In [0]:
from pyspark.sql import Row

row = Row(name = 'maheer', salary = 2000)

print(row[0] + ' ' + str(row[1]))

maheer 2000

In [0]:
print(row.name + ' ' + str(row.salary))

maheer 2000

In [0]:
from pyspark.sql import Row

row1 = Row(name = 'maheer', salary = 2000)
row2 = Row(name = 'wafa', salary = 3000)

data = [row1, row2]

df = spark.createDataFrame(data)
df.show()

+------+------+
|  name|salary|
+------+------+
|maheer|  2000|
|  wafa|  3000|
+------+------+

In [0]:
df = spark.createDataFrame([row1, row2])
df.show()

+------+------+
|  name|salary|
+------+------+
|maheer|  2000|
|  wafa|  3000|
+------+------+

In [0]:
Person = Row('name', 'age')

person1 = Person('Maheer', 20)
person2 = Person('wafa', 30)

print(person1.name)
print(person1.age)
print(person2.name)
print(person2.age)

df = spark.createDataFrame([person1, person2])
df.show()

Maheer
20
wafa
30
+------+---+
|  name|age|
+------+---+
|Maheer| 20|
|  wafa| 30|
+------+---+

In [0]:
data = [Row(name= 'Maheer',properities = Row(hair = 'black', eye = 'brown')), 
        Row(name= 'wafa',properities = Row(hair = 'brown', eye = 'brown'))]

df = spark.createDataFrame(data)

df.show()
df.printSchema()

+------+--------------+
|  name|   properities|
+------+--------------+
|Maheer|{black, brown}|
|  wafa|{brown, brown}|
+------+--------------+

root
 |-- name: string (nullable = true)
 |-- properities: struct (nullable = true)
 |    |-- hair: string (nullable = true)
 |    |-- eye: string (nullable = true)