In [0]:
spark.sql("create database if not exists Practice")

Out[2]: DataFrame[]

In [0]:
spark.sql("Use Practice")

Out[3]: DataFrame[]

In [0]:
spark.sql("create table Student (id int, name string)")

Out[5]: DataFrame[]

In [0]:
spark.sql("""insert into table Student 
          (id, name) 
          values (1, 'Pavani')""")

Out[6]: DataFrame[num_affected_rows: bigint, num_inserted_rows: bigint]

In [0]:
spark.sql("Select * from Student")

Out[10]: DataFrame[id: int, name: string]

In [0]:
spark.sql("Select * from Student").show()

+---+------+
| id|  name|
+---+------+
|  1|Pavani|
+---+------+

In [0]:
spark.sql("Select * from Student").collect()

Out[9]: [Row(id=1, name='Pavani')]