In [0]:
data = [(1, 'Mahesh', 2000), (2, 'Dilip', 3000)]
schema = ('Id', 'Name', 'Salary')

df = spark.createDataFrame(data, schema)
df.show()

#using pyspark code
df1 = df.select('Id', 'name')
df1.show()

+---+------+------+
| Id|  Name|Salary|
+---+------+------+
|  1|Mahesh|  2000|
|  2| Dilip|  3000|
+---+------+------+

+---+------+
| Id|  name|
+---+------+
|  1|Mahesh|
|  2| Dilip|
+---+------+

In [0]:
help(df.createOrReplaceTempView)
#tables created are available for this session alone

Help on method createOrReplaceTempView in module pyspark.sql.dataframe:

createOrReplaceTempView(name: str) -> None method of pyspark.sql.dataframe.DataFrame instance
    Creates or replaces a local temporary view with this :class:`DataFrame`.

    The lifetime of this temporary table is tied to the :class:`SparkSession`
    that was used to create this :class:`DataFrame`.

    .. versionadded:: 2.0.0

    .. versionchanged:: 3.4.0
        Support Spark Connect.

    Parameters
    ----------
    name : str
        Name of the view.

    Returns
    -------
    None

    Examples
    --------
    Create a local temporary view named 'people'.

    >>> df = spark.createDataFrame([(2, "Alice"), (5, "Bob")], schema=["age", "name"])
    >>> df.createOrReplaceTempView("people")

    Replace the local temporary view.

    >>> df2 = df.filter(df.age > 3)
    >>> df2.createOrReplaceTempView("people")
    >>> df3 = spark.sql("SELECT * FROM people")
    >>> sorted(df3.collect()) == sorted(df2.collect())
    True
    >>> spark.catalog.dropTempView("people")
    True

In [0]:
df.createOrReplaceTempView('emp')

In [0]:
df1 = spark.sql('select * from emp')
df1.show()

+---+------+------+
| Id|  Name|Salary|
+---+------+------+
|  1|Mahesh|  2000|
|  2| Dilip|  3000|
+---+------+------+

In [0]:
%sql

select * from emp

Id,Name,Salary
1,Mahesh,2000
2,Dilip,3000

In [0]:
help(df.createOrReplaceGlobalTempView)
#tables created are available across the sessions i.e., different notebooks on same cluster

Help on method createOrReplaceGlobalTempView in module pyspark.sql.dataframe:

createOrReplaceGlobalTempView(name: str) -> None method of pyspark.sql.dataframe.DataFrame instance
    Creates or replaces a global temporary view using the given name.

    The lifetime of this temporary view is tied to this Spark application.

    .. versionadded:: 2.2.0

    .. versionchanged:: 3.4.0
        Support Spark Connect.

    Parameters
    ----------
    name : str
        Name of the view.

    Returns
    -------
    None

    Examples
    --------
    Create a global temporary view.

    >>> df = spark.createDataFrame([(2, "Alice"), (5, "Bob")], schema=["age", "name"])
    >>> df.createOrReplaceGlobalTempView("people")

    Replace the global temporary view.

    >>> df2 = df.filter(df.age > 3)
    >>> df2.createOrReplaceGlobalTempView("people")
    >>> df3 = spark.sql("SELECT * FROM global_temp.people")
    >>> sorted(df3.collect()) == sorted(df2.collect())
    True
    >>> spark.catalog.dropGlobalTempView("people")
    True

In [0]:
#Using SQL

df.createOrReplaceGlobalTempView('employees')

In [0]:
df2 = spark.sql("SELECT Id, Name FROM global_temp.employees")
df2.show()

+---+------+
| Id|  Name|
+---+------+
|  1|Mahesh|
|  2| Dilip|
+---+------+

In [0]:
%sql

SELECT Id, UPPER(Name) from global_temp.employees

Id,upper(Name)
1,MAHESH
2,DILIP

In [0]:
spark.catalog.currentDatabase()

Out[19]: 'default'

In [0]:
spark.catalog.listTables('default')

Out[20]: [Table(name='emp', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True)]

In [0]:
spark.catalog.listTables('global_temp')

Out[21]: [Table(name='employees', catalog=None, namespace=['global_temp'], description=None, tableType='TEMPORARY', isTemporary=True),
 Table(name='emp', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True)]

In [0]:
spark.catalog.dropGlobalTempView('employees')

Out[22]: True

In [0]:
spark.catalog.dropTempView('emp')

Out[23]: True