In [0]:
data = [(1, 'Mahesh', 2000), (2, 'Maheer', 4000)]
schema = ('Id', 'Name', 'Salary')

df = spark.createDataFrame(data, schema)
df.show()

+---+------+------+
| Id|  Name|Salary|
+---+------+------+
|  1|Mahesh|  2000|
|  2|Maheer|  4000|
+---+------+------+

In [0]:
from pyspark.sql.functions import upper

df.withColumn('Name', upper(df.Name)).show()

+---+------+------+
| Id|  Name|Salary|
+---+------+------+
|  1|MAHESH|  2000|
|  2|MAHEER|  4000|
+---+------+------+

In [0]:
def convertNameToUpper(df):
    return df.withColumn('Name', upper(df.Name))

In [0]:
df.transform(convertNameToUpper).show()

+---+------+------+
| Id|  Name|Salary|
+---+------+------+
|  1|MAHESH|  2000|
|  2|MAHEER|  4000|
+---+------+------+

In [0]:
def doubleTheSalary(df):
    return df.withColumn('Salary', df.Salary * 2)

In [0]:
df.transform(doubleTheSalary).show()

+---+------+------+
| Id|  Name|Salary|
+---+------+------+
|  1|Mahesh|  4000|
|  2|Maheer|  8000|
+---+------+------+

In [0]:
df1 = df.transform(doubleTheSalary).transform(convertNameToUpper)
df1.show()

+---+------+------+
| Id|  Name|Salary|
+---+------+------+
|  1|MAHESH|  4000|
|  2|MAHEER|  8000|
+---+------+------+

In [0]:
##Pyspark.sql.transform -- Applicable only on Array type columns

data = [(1, 'Maheer', ['Azure', 'dotnet']), (2, 'Wafa', ['aws', 'java'])]
schema = ('Id', 'Name', 'Skills')

df = spark.createDataFrame(data, schema)
df.show()

+---+------+---------------+
| Id|  Name|         Skills|
+---+------+---------------+
|  1|Maheer|[Azure, dotnet]|
|  2|  Wafa|    [aws, java]|
+---+------+---------------+

In [0]:
from pyspark.sql.functions import transform, upper

df.select('Id', 'Name', transform('Skills', lambda x: upper(x)).alias('skills')).show()

+---+------+---------------+
| Id|  Name|         skills|
+---+------+---------------+
|  1|Maheer|[AZURE, DOTNET]|
|  2|  Wafa|    [AWS, JAVA]|
+---+------+---------------+

In [0]:
def convertToUpper(x):
    return upper(x)

df.select('Id', 'Name', transform('Skills', convertToUpper).alias('Skills')).show()

+---+------+---------------+
| Id|  Name|         Skills|
+---+------+---------------+
|  1|Maheer|[AZURE, DOTNET]|
|  2|  Wafa|    [AWS, JAVA]|
+---+------+---------------+

In [0]:
df.select('Id',  transform('Name', convertToUpper).alias('Name')).show()

#expected as pyspark.sql.functions transform works only on Array type columns

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-2930750157668696>:1
----> 1 df.select('Id',  transform('Name', convertToUpper).alias('Name')).show()

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/dataframe.py:3023, in DataFrame.select(self, *cols)
   2978 def select(self, *cols: "ColumnOrName") -> "DataFrame":  # type: ignore[misc]
   2979     """Projects a set of expressions and returns a new :class:`DataFrame`.
   2980
   2981     .. versionadded:: 1.3.0
   (...)
   3021     +-----+---+
   3022     """
-> 3023     jdf = self._jdf.select(self._jcols(*cols))
   3024     return DataFrame(jdf, self.sparkSession)

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /databricks/spark/python/pyspark/errors/exceptions.py:234, in capture_sql_exception.<locals>.deco(*a, **kw)
    230 converted = convert_exception(e.java_exception)
    231 if not isinstance(converted, UnknownException):
    232     # Hide where the exception came from that shows a non-Pythonic
    233     # JVM exception message.
--> 234     raise converted from None
    235 else:
    236     raise

AnalysisException: [DATATYPE_MISMATCH.UNEXPECTED_INPUT_TYPE] Cannot resolve "transform(Name, lambdafunction(upper(x_3), x_3))" due to data type mismatch: parameter 1 requires "ARRAY" type, however, "Name" is of "STRING" type.;
'Project [Id#2L, transform(Name#3, lambdafunction(upper(lambda 'x_3), lambda 'x_3, false)) AS Name#57]
+- LogicalRDD [Id#2L, Name#3, Skills#4], false