In [0]:
data1 = [(1,'Maheer', 30)]
schema1 = ('Id', 'Name', 'Age')

data2 = [(1,'Maheer', 43000)]
schema2 = ('Id', 'Name', 'Salary')

df1 = spark.createDataFrame(data1, schema1)
df1.show()

df2 = spark.createDataFrame(data2, schema2)
df2.show()

+---+------+---+
| Id|  Name|Age|
+---+------+---+
|  1|Maheer| 30|
+---+------+---+

+---+------+------+
| Id|  Name|Salary|
+---+------+------+
|  1|Maheer| 43000|
+---+------+------+

In [0]:
df1.union(df2).show()

+---+------+-----+
| Id|  Name|  Age|
+---+------+-----+
|  1|Maheer|   30|
|  1|Maheer|43000|
+---+------+-----+

In [0]:
df1.unionByName(allowMissingColumns=True, other = df2).show()

+---+------+----+------+
| Id|  Name| Age|Salary|
+---+------+----+------+
|  1|Maheer|  30|  null|
|  1|Maheer|null| 43000|
+---+------+----+------+