In [0]:
data1 = [(1, 'Maheer', 'Male'), (2, 'wafa', 'Male'), (3, 'asi', 'FeMale')]
schema1 = ('Id','Name', 'Gender')

data2 = [(4, 'Ayesha', 'FeMale'), (5, 'zainab', 'FeMale'), (6, 'Zohair', 'Male'), (1, 'Maheer', 'Male')]
schema2 = ('Id','Name', 'Gender')

df1 = spark.createDataFrame(data1, schema1)
df1.show()

df2 = spark.createDataFrame(data2, schema2)
df2.show()

+---+------+------+
| Id|  Name|Gender|
+---+------+------+
|  1|Maheer|  Male|
|  2|  wafa|  Male|
|  3|   asi|FeMale|
+---+------+------+

+---+------+------+
| Id|  Name|Gender|
+---+------+------+
|  4|Ayesha|FeMale|
|  5|zainab|FeMale|
|  6|Zohair|  Male|
|  1|Maheer|  Male|
+---+------+------+

In [0]:
newDf = df1.union(df2)

newDf.show()

+---+------+------+
| Id|  Name|Gender|
+---+------+------+
|  1|Maheer|  Male|
|  2|  wafa|  Male|
|  3|   asi|FeMale|
|  4|Ayesha|FeMale|
|  5|zainab|FeMale|
|  6|Zohair|  Male|
|  1|Maheer|  Male|
+---+------+------+

In [0]:
help(df1.unionAll)

Help on method unionAll in module pyspark.sql.dataframe:

unionAll(other: 'DataFrame') -> 'DataFrame' method of pyspark.sql.dataframe.DataFrame instance
    Return a new :class:`DataFrame` containing union of rows in this and another
    :class:`DataFrame`.

    .. versionadded:: 1.3.0

    .. versionchanged:: 3.4.0
        Support Spark Connect.

    Parameters
    ----------
    other : :class:`DataFrame`
        Another :class:`DataFrame` that needs to be combined

    Returns
    -------
    :class:`DataFrame`
        Combined DataFrame

    Notes
    -----
    This is equivalent to `UNION ALL` in SQL. To do a SQL-style set union
    (that does deduplication of elements), use this function followed by :func:`distinct`.

    Also as standard in SQL, this function resolves columns by position (not by name).

    :func:`unionAll` is an alias to :func:`union`

    See Also
    --------
    DataFrame.union

In [0]:
    newDf.distinct().show()

+---+------+------+
| Id|  Name|Gender|
+---+------+------+
|  1|Maheer|  Male|
|  2|  wafa|  Male|
|  3|   asi|FeMale|
|  4|Ayesha|FeMale|
|  5|zainab|FeMale|
|  6|Zohair|  Male|
+---+------+------+